<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>efe_4008_infinite_energyball_03.png</key>
			<dict>
				<key>width</key>
				<integer>397</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>397</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_4008_infinite_energyball_02.png</key>
			<dict>
				<key>width</key>
				<integer>538</integer>
				<key>height</key>
				<integer>538</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>538</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_4008_infinite_energyball_01.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>332</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_4008_infinite_energyball_04.png</key>
			<dict>
				<key>width</key>
				<integer>507</integer>
				<key>height</key>
				<integer>506</integer>
				<key>originalWidth</key>
				<integer>508</integer>
				<key>originalHeight</key>
				<integer>506</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>4008_infinite_energyball0.png</string>
			<key>realTextureFileName</key>
			<string>4008_infinite_energyball0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>