<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ef_14074_g_01.png</key>
			<dict>
				<key>width</key>
				<integer>901</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>998</integer>
				<key>originalHeight</key>
				<integer>159</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-48.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>ef_14074_g_02.png</key>
			<dict>
				<key>width</key>
				<integer>887</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>998</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>-53.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>ef_14074_g_03.png</key>
			<dict>
				<key>width</key>
				<integer>713</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>998</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>ef_14074_g_04.png</key>
			<dict>
				<key>width</key>
				<integer>885</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>998</integer>
				<key>originalHeight</key>
				<integer>157</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>-25.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>ef_14074_g_05.png</key>
			<dict>
				<key>width</key>
				<integer>968</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>998</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>469</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>ef_14074_g_07.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>304</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>68</real>
			</dict>
			<key>bg_quest_14074_n_roop05.png</key>
			<dict>
				<key>width</key>
				<integer>687</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>688</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>767</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>bg_quest_14074_n_roop04.png</key>
			<dict>
				<key>width</key>
				<integer>436</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>436</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_14074_n_roop03.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>343</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>bg_quest_14074_n_roop02.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>923</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_14074_n_roop01.png</key>
			<dict>
				<key>width</key>
				<integer>724</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>725</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_14074_moya_02.png</key>
			<dict>
				<key>width</key>
				<integer>1996</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>1996</integer>
				<key>originalHeight</key>
				<integer>398</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>974</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>14074_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>467</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>78</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>14074_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>491</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14074_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>486</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>332</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>14074_tx05.png</key>
			<dict>
				<key>width</key>
				<integer>490</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1286</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>14074_tx04.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>bg_quest_14074_moya_01.png</key>
			<dict>
				<key>width</key>
				<integer>1845</integer>
				<key>height</key>
				<integer>382</integer>
				<key>originalWidth</key>
				<integer>1996</integer>
				<key>originalHeight</key>
				<integer>398</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1377</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_14074_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_14074_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>