<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_quest_17214_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,750}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,0},{2048,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_17214_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,540}</string>
                <key>spriteSourceSize</key>
                <string>{2048,540}</string>
                <key>textureRect</key>
                <string>{{0,1498},{2048,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_quest_17214_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{2048,748}</string>
                <key>spriteSourceSize</key>
                <string>{2048,750}</string>
                <key>textureRect</key>
                <string>{{0,750},{2048,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg_quest_17214.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceaad58c1ba246fd26fb222066d9122d:24c1d3019add4b44c3efe78ea7ab9380:19e378f270e601897f54b9b7dc0f8325$</string>
            <key>textureFileName</key>
            <string>bg_quest_17214.png</string>
        </dict>
    </dict>
</plist>
