<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_21184_move_mirror_03.png</key>
			<dict>
				<key>width</key>
				<integer>923</integer>
				<key>height</key>
				<integer>713</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-103.5</real>
				<key>offsetY</key>
				<real>161.5</real>
			</dict>
			<key>bg_quest_21184_move_mirror_02.png</key>
			<dict>
				<key>width</key>
				<integer>791</integer>
				<key>height</key>
				<integer>626</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>926</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-216.5</real>
				<key>offsetY</key>
				<real>205</real>
			</dict>
			<key>bg_quest_21184_n_move_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>1007</integer>
				<key>height</key>
				<integer>582</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>2048</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>716</integer>
				<key>offsetX</key>
				<real>-67.5</real>
				<key>offsetY</key>
				<real>215</real>
			</dict>
			<key>bg_quest_21184_n_g_mirror_02.png</key>
			<dict>
				<key>width</key>
				<integer>1403</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>1577</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1301</integer>
				<key>offsetX</key>
				<real>87</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>bg_quest_21184_n_g_gocha_other_01.png</key>
			<dict>
				<key>width</key>
				<integer>1023</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>1023</integer>
				<key>originalHeight</key>
				<integer>331</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_21184_reflection_02.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>963</integer>
				<key>offsetX</key>
				<real>203</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_21184_reflection_00.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>1044</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>1266</integer>
				<key>offsetX</key>
				<real>-202.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_21184_effect1.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_21184_effect1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>