<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_20702_topclowd.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>416</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>416</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_20702_topclowdlight_03.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>1203</integer>
				<key>originalHeight</key>
				<integer>313</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>543.5</real>
				<key>offsetY</key>
				<real>94.5</real>
			</dict>
			<key>bg_quest_20702_topclowdlight_02.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>1203</integer>
				<key>originalHeight</key>
				<integer>313</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>143.5</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>bg_quest_20702_topclowdlight_01.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>1203</integer>
				<key>originalHeight</key>
				<integer>313</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>-540</real>
				<key>offsetY</key>
				<real>-90.5</real>
			</dict>
			<key>bg_quest_20702_g_jimen.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-129.5</real>
			</dict>
			<key>bg_quest_20702_g_01_clowd.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>455</real>
				<key>offsetY</key>
				<real>-276</real>
			</dict>
			<key>bg_quest_20702_g_01_pump01.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>516</integer>
				<key>offsetX</key>
				<real>-519</real>
				<key>offsetY</key>
				<real>-299.5</real>
			</dict>
			<key>bg_quest_20702_g_01_pump02.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>953</integer>
				<key>offsetX</key>
				<real>109.5</real>
				<key>offsetY</key>
				<real>-250.5</real>
			</dict>
			<key>bg_quest_20702_g_01.png</key>
			<dict>
				<key>width</key>
				<integer>1958</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1136</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-266</real>
			</dict>
			<key>bg_quest_20702_g_02.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1342</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-158.5</real>
			</dict>
			<key>bg_quest_20702_g_02_tree.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>-324</real>
				<key>offsetY</key>
				<real>-247.5</real>
			</dict>
			<key>bg_quest_20702_g_02_pump03.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>569.5</real>
				<key>offsetY</key>
				<real>-176.5</real>
			</dict>
			<key>bg_quest_20702_g_02_pump02.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>953</integer>
				<key>offsetX</key>
				<real>-88</real>
				<key>offsetY</key>
				<real>-198.5</real>
			</dict>
			<key>bg_quest_20702_g_02_pump01.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>801.5</real>
				<key>offsetY</key>
				<real>-161</real>
			</dict>
			<key>bg_quest_20702_g_03.png</key>
			<dict>
				<key>width</key>
				<integer>1480</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1625</integer>
				<key>offsetX</key>
				<real>-153</real>
				<key>offsetY</key>
				<real>-145</real>
			</dict>
			<key>bg_quest_20702_g_04.png</key>
			<dict>
				<key>width</key>
				<integer>1009</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>953</integer>
				<key>offsetX</key>
				<real>239.5</real>
				<key>offsetY</key>
				<real>-84</real>
			</dict>
			<key>bg_quest_20702_g_04_clowd01.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>-388</real>
				<key>offsetY</key>
				<real>-128</real>
			</dict>
			<key>bg_quest_20702_g_04_pump.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>-593</real>
				<key>offsetY</key>
				<real>-118.5</real>
			</dict>
			<key>bg_quest_20702_g_04_clowd02.png</key>
			<dict>
				<key>width</key>
				<integer>405</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>-765.5</real>
				<key>offsetY</key>
				<real>-99.5</real>
			</dict>
			<key>bg_quest_20702_g_05_pump.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>549</integer>
				<key>offsetX</key>
				<real>207</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>bg_quest_20702_g_05_cat.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>-317</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>bg_quest_20702_naka_tree03_lanthanum.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>953</integer>
				<key>offsetX</key>
				<real>462.5</real>
				<key>offsetY</key>
				<real>208</real>
			</dict>
			<key>bg_quest_20702_naka_tree04_lighta.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>1625</integer>
				<key>offsetX</key>
				<real>442.5</real>
				<key>offsetY</key>
				<real>192.5</real>
			</dict>
			<key>bg_quest_20702_naka_tree04_light.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>544</real>
				<key>offsetY</key>
				<real>142.5</real>
			</dict>
			<key>bg_quest_20702_naka_tree04.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1731</integer>
				<key>y</key>
				<integer>1625</integer>
				<key>offsetX</key>
				<real>485.5</real>
				<key>offsetY</key>
				<real>161</real>
			</dict>
			<key>bg_quest_20702_naka_cloud02.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1618</integer>
				<key>y</key>
				<integer>529</integer>
				<key>offsetX</key>
				<real>-896.5</real>
				<key>offsetY</key>
				<real>201</real>
			</dict>
			<key>bg_quest_20702_naka_cloud03.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>911</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>285.5</real>
				<key>offsetY</key>
				<real>271.5</real>
			</dict>
			<key>bg_quest_20702_naka_cloud04.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>314</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>647.5</real>
				<key>offsetY</key>
				<real>180.5</real>
			</dict>
			<key>bg_quest_20702_naka_tree03.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>649</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>281.5</real>
				<key>offsetY</key>
				<real>98</real>
			</dict>
			<key>bg_quest_20702_naka_tree03_light.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>123</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>257.5</real>
				<key>offsetY</key>
				<real>140</real>
			</dict>
			<key>bg_quest_20702_naka_load_L.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1893</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>-961</real>
				<key>offsetY</key>
				<real>81</real>
			</dict>
			<key>bg_quest_20702_naka_tree02.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1677</integer>
				<key>y</key>
				<integer>953</integer>
				<key>offsetX</key>
				<real>81.5</real>
				<key>offsetY</key>
				<real>184</real>
			</dict>
			<key>bg_quest_20702_naka_tree02_lighta.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>836</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>137.5</real>
				<key>offsetY</key>
				<real>201</real>
			</dict>
			<key>bg_quest_20702_naka_tree02_light.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>574</integer>
				<key>offsetX</key>
				<real>92</real>
				<key>offsetY</key>
				<real>194.5</real>
			</dict>
			<key>bg_quest_20702_naka_cloud01.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>602</integer>
				<key>y</key>
				<integer>611</integer>
				<key>offsetX</key>
				<real>-157.5</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>bg_quest_20702_naka_tree01_lighta.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>983</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>-755.5</real>
				<key>offsetY</key>
				<real>144</real>
			</dict>
			<key>bg_quest_20702_naka_tree01_light.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1216</integer>
				<key>y</key>
				<integer>1895</integer>
				<key>offsetX</key>
				<real>-757.5</real>
				<key>offsetY</key>
				<real>139</real>
			</dict>
			<key>bg_quest_20702_moon_cloud04.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1453</integer>
				<key>y</key>
				<integer>1929</integer>
				<key>offsetX</key>
				<real>-117</real>
				<key>offsetY</key>
				<real>317.5</real>
			</dict>
			<key>bg_quest_20702_moon_cloud03.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1737</integer>
				<key>y</key>
				<integer>1929</integer>
				<key>offsetX</key>
				<real>-296</real>
				<key>offsetY</key>
				<real>83</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_20702_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_20702_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>