<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_19323_light_04.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>329</real>
				<key>offsetY</key>
				<real>-122.5</real>
			</dict>
			<key>bg_quest_19323_light_03.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>117</real>
				<key>offsetY</key>
				<real>-122.5</real>
			</dict>
			<key>bg_quest_19323_light_02.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-211.5</real>
				<key>offsetY</key>
				<real>-122.5</real>
			</dict>
			<key>bg_quest_19323_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-387</real>
				<key>offsetY</key>
				<real>-122.5</real>
			</dict>
			<key>bg_quest_19323_flare.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_19323_ef_none.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>bg_quest_19323_clowd_01.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>333</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>291</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>92.5</real>
			</dict>
			<key>bg_quest_19323_clowd_02.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>624</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>bg_quest_19323_clowd_03.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>833</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-182.5</real>
			</dict>
			<key>bg_quest_19323_clowd_04.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>544</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1030</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>103</real>
			</dict>
			<key>bg_quest_19323_star.png</key>
			<dict>
				<key>width</key>
				<integer>1476</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1574</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-150.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_19323_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_19323_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>