<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_46407_A_01.png</key>
			<dict>
				<key>width</key>
				<integer>1990</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46407_A_03.png</key>
			<dict>
				<key>width</key>
				<integer>1854</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>bg_quest_46407_A_04.png</key>
			<dict>
				<key>width</key>
				<integer>1854</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>54</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>bg_quest_46407_A_02.png</key>
			<dict>
				<key>width</key>
				<integer>1990</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>286</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>bg_quest_46407_B_01.png</key>
			<dict>
				<key>width</key>
				<integer>1990</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>bg_quest_46407_B_03.png</key>
			<dict>
				<key>width</key>
				<integer>1866</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>48</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>bg_quest_46407_B_04.png</key>
			<dict>
				<key>width</key>
				<integer>1867</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>556</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>bg_quest_46407_B_02.png</key>
			<dict>
				<key>width</key>
				<integer>1990</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>1990</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>602</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46407_effect3.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46407_effect3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>