<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_20702_g_05.png</key>
			<dict>
				<key>width</key>
				<integer>1654</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-35.5</real>
			</dict>
			<key>bg_quest_20702_g_05_clowd.png</key>
			<dict>
				<key>width</key>
				<integer>1301</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>-87.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>bg_quest_20702_naka_load_C.png</key>
			<dict>
				<key>width</key>
				<integer>507</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>bg_quest_20702_naka_load_R.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>558</integer>
				<key>offsetX</key>
				<real>835.5</real>
				<key>offsetY</key>
				<real>70.5</real>
			</dict>
			<key>bg_quest_20702_naka_tree01.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>282</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>507</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>-768.5</real>
				<key>offsetY</key>
				<real>106</real>
			</dict>
			<key>bg_quest_20702_moon_cloud02.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>781</integer>
				<key>offsetX</key>
				<real>-266</real>
				<key>offsetY</key>
				<real>160</real>
			</dict>
			<key>bg_quest_20702_moon.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>686</integer>
				<key>y</key>
				<integer>355</integer>
				<key>offsetX</key>
				<real>-319.5</real>
				<key>offsetY</key>
				<real>214.5</real>
			</dict>
			<key>bg_quest_20702_moon_cloud01.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>915</integer>
				<key>offsetX</key>
				<real>-489.5</real>
				<key>offsetY</key>
				<real>159</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_20702_effect1.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_20702_effect1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>