<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_46119_n_runway.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_frontBK.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1025</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_e_01.png</key>
			<dict>
				<key>width</key>
				<integer>278</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>278</integer>
				<key>originalHeight</key>
				<integer>72</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_c_01.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>132</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_a_01.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_b_01.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>138</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_n_etc.png</key>
			<dict>
				<key>width</key>
				<integer>1646</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>1646</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1538</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_g_03.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>472</integer>
				<key>originalWidth</key>
				<integer>674</integer>
				<key>originalHeight</key>
				<integer>472</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_g_02.png</key>
			<dict>
				<key>width</key>
				<integer>780</integer>
				<key>height</key>
				<integer>514</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>514</integer>
				<key>x</key>
				<integer>1025</integer>
				<key>y</key>
				<integer>710</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46119_g_mannequin.png</key>
			<dict>
				<key>width</key>
				<integer>444</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>444</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>1304</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46119_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46119_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>