<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_21131_effect_n_ef_glow_03.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_n_wood.png</key>
			<dict>
				<key>width</key>
				<integer>1638</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>1638</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>36</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_n_ef_glow_02.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>156</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>228</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_n_ef_glow_01.png</key>
			<dict>
				<key>width</key>
				<integer>536</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>536</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_g_grass_03.png</key>
			<dict>
				<key>width</key>
				<integer>1638</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1638</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>488</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_g_grass_02.png</key>
			<dict>
				<key>width</key>
				<integer>1638</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>1638</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>228</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_g_grass_01.png</key>
			<dict>
				<key>width</key>
				<integer>1638</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>1638</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>714</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21131_effect_f_cloud_01.png</key>
			<dict>
				<key>width</key>
				<integer>1638</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>1638</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>898</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_21131_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_21131_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>