<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_46412_foot.png</key>
			<dict>
				<key>width</key>
				<integer>754</integer>
				<key>height</key>
				<integer>752</integer>
				<key>originalWidth</key>
				<integer>754</integer>
				<key>originalHeight</key>
				<integer>752</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_ef_none.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>752</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelB03.png</key>
			<dict>
				<key>width</key>
				<integer>806</integer>
				<key>height</key>
				<integer>534</integer>
				<key>originalWidth</key>
				<integer>806</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelB02.png</key>
			<dict>
				<key>width</key>
				<integer>806</integer>
				<key>height</key>
				<integer>534</integer>
				<key>originalWidth</key>
				<integer>806</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>760</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelB01.png</key>
			<dict>
				<key>width</key>
				<integer>806</integer>
				<key>height</key>
				<integer>534</integer>
				<key>originalWidth</key>
				<integer>806</integer>
				<key>originalHeight</key>
				<integer>534</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelS03.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>298</integer>
				<key>x</key>
				<integer>1560</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelS02.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>298</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>534</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_light_jewelS01.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>298</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46412_jewelS.png</key>
			<dict>
				<key>width</key>
				<integer>900</integer>
				<key>height</key>
				<integer>596</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>596</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>1130</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46412_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46412_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>