<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_adv_20631_moya2.png</key>
			<dict>
				<key>width</key>
				<integer>1023</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>bg_adv_20631_moya.png</key>
			<dict>
				<key>width</key>
				<integer>1014</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>241</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-53.5</real>
			</dict>
			<key>bg_quest_20631_ef_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>466</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>511</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>bg_quest_20631_ef_light_02.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-63.5</real>
			</dict>
			<key>bg_quest_20631_ef_light_03a.png</key>
			<dict>
				<key>width</key>
				<integer>871</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>761</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>-138</real>
			</dict>
			<key>bg_quest_20631_ef_light_03b.png</key>
			<dict>
				<key>width</key>
				<integer>819</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>55.5</real>
				<key>offsetY</key>
				<real>-142</real>
			</dict>
			<key>bg_quest_20631_ef_light_03c.png</key>
			<dict>
				<key>width</key>
				<integer>830</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>-135</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_20631_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_20631_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>