<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_21603_red_6.png</key>
			<dict>
				<key>width</key>
				<integer>693</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>820</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>56.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>bg_quest_21603_red_5.png</key>
			<dict>
				<key>width</key>
				<integer>677</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>820</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>bg_quest_21603_red_4.png</key>
			<dict>
				<key>width</key>
				<integer>794</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>820</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>bg_quest_21603_light_3.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>142</integer>
				<key>originalHeight</key>
				<integer>191</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>bg_quest_21603_light_1.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21603_ef_none.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>bg_quest_21603_clowd_04_2.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>841</integer>
				<key>originalHeight</key>
				<integer>178</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>409</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>bg_quest_21603_clowd_03_2.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>306</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>564</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>bg_quest_21603_clowd_02_2.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>bg_quest_21603_clowd_01_2.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1054</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_21603_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_21603_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>