<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_46112_flame3.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>352</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>352</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46112_glave3.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>390</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46112_glave2.png</key>
			<dict>
				<key>width</key>
				<integer>780</integer>
				<key>height</key>
				<integer>424</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>424</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46112_glave.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>432</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46112_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46112_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>