<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_21184_n_g_mirror_01.png</key>
			<dict>
				<key>width</key>
				<integer>1493</integer>
				<key>height</key>
				<integer>487</integer>
				<key>originalWidth</key>
				<integer>1577</integer>
				<key>originalHeight</key>
				<integer>510</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>bg_quest_21184_g_light.png</key>
			<dict>
				<key>width</key>
				<integer>1643</integer>
				<key>height</key>
				<integer>686</integer>
				<key>originalWidth</key>
				<integer>1643</integer>
				<key>originalHeight</key>
				<integer>686</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>490</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_21184_g_move_mirror_01.png</key>
			<dict>
				<key>width</key>
				<integer>1497</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>1835</integer>
				<key>originalHeight</key>
				<integer>548</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1179</integer>
				<key>offsetX</key>
				<real>147</real>
				<key>offsetY</key>
				<real>126</real>
			</dict>
			<key>bg_quest_21184_g_move_mirror_02.png</key>
			<dict>
				<key>width</key>
				<integer>1666</integer>
				<key>height</key>
				<integer>439</integer>
				<key>originalWidth</key>
				<integer>1835</integer>
				<key>originalHeight</key>
				<integer>548</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1474</integer>
				<key>offsetX</key>
				<real>84.5</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_21184_effect2.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_21184_effect2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>