<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_17193_n_materials.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>443</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-153.5</real>
			</dict>
			<key>bg_quest_17193_light_04.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>796.5</real>
				<key>offsetY</key>
				<real>-242.5</real>
			</dict>
			<key>bg_quest_17193_light_03.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>273.5</real>
				<key>offsetY</key>
				<real>-242.5</real>
			</dict>
			<key>bg_quest_17193_light_02.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>-156.5</real>
				<key>offsetY</key>
				<real>-242.5</real>
			</dict>
			<key>bg_quest_17193_light_01.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>443</integer>
				<key>offsetX</key>
				<real>-677.5</real>
				<key>offsetY</key>
				<real>-242.5</real>
			</dict>
			<key>bg_quest_17193_ef_none.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>bg_quest_17193_clowd_02.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>973</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>250.5</real>
			</dict>
			<key>bg_quest_17193_clowd_01.png</key>
			<dict>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>502</integer>
				<key>originalWidth</key>
				<integer>2048</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1222</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>124</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_17193_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_17193_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>