<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_14035_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_upblack.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_foothold.png</key>
			<dict>
				<key>width</key>
				<integer>1120</integer>
				<key>height</key>
				<integer>393</integer>
				<key>originalWidth</key>
				<integer>1120</integer>
				<key>originalHeight</key>
				<integer>393</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_foothold_ef.png</key>
			<dict>
				<key>width</key>
				<integer>1003</integer>
				<key>height</key>
				<integer>373</integer>
				<key>originalWidth</key>
				<integer>1003</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_a.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>302</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1026</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_b.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>292</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>1026</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_c.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1331</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_d.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>1123</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_e.png</key>
			<dict>
				<key>width</key>
				<integer>180</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>1123</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_f.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>212</integer>
				<key>originalHeight</key>
				<integer>212</integer>
				<key>x</key>
				<integer>1417</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_g.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>1123</integer>
				<key>y</key>
				<integer>463</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_h.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>1306</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_i.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>1026</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_circle_j.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>267</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>267</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1626</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_02.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>607</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>607</integer>
				<key>x</key>
				<integer>1632</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_01.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>669</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>669</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>1321</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_03_1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>705</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>705</integer>
				<key>x</key>
				<integer>1006</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_03.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>639</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>639</integer>
				<key>x</key>
				<integer>361</integer>
				<key>y</key>
				<integer>1321</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_04_1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>706</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>706</integer>
				<key>x</key>
				<integer>1708</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_04.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>1063</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>1063</integer>
				<key>x</key>
				<integer>1064</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_line_05.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>701</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>701</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>1321</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_thunder_02.png</key>
			<dict>
				<key>width</key>
				<integer>420</integer>
				<key>height</key>
				<integer>475</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>475</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_thunder_03.png</key>
			<dict>
				<key>width</key>
				<integer>458</integer>
				<key>height</key>
				<integer>726</integer>
				<key>originalWidth</key>
				<integer>458</integer>
				<key>originalHeight</key>
				<integer>726</integer>
				<key>x</key>
				<integer>1104</integer>
				<key>y</key>
				<integer>1128</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46207_parts_thunder_04.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>417</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>418</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>bg_quest_46207_parts_thunder_04_1.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>346</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>1321</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46207_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46207_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>