<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_quest_46114_parts_kanban.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_g2.png</key>
			<dict>
				<key>width</key>
				<integer>502</integer>
				<key>height</key>
				<integer>882</integer>
				<key>originalWidth</key>
				<integer>502</integer>
				<key>originalHeight</key>
				<integer>882</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_g.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>882</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>882</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_ef_none.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>bg_quest_46114_parts_parts_02.png</key>
			<dict>
				<key>width</key>
				<integer>319</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>319</integer>
				<key>originalHeight</key>
				<integer>129</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_parts_01B.png</key>
			<dict>
				<key>width</key>
				<integer>495</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>495</integer>
				<key>originalHeight</key>
				<integer>183</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_parts_01A.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>187</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_circle_c.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>172</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_circle_a.png</key>
			<dict>
				<key>width</key>
				<integer>992</integer>
				<key>height</key>
				<integer>575</integer>
				<key>originalWidth</key>
				<integer>1144</integer>
				<key>originalHeight</key>
				<integer>1150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1019</integer>
				<key>offsetX</key>
				<real>76</real>
				<key>offsetY</key>
				<real>287.5</real>
			</dict>
			<key>bg_quest_46114_parts_circle_b.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>575</integer>
				<key>originalWidth</key>
				<integer>1144</integer>
				<key>originalHeight</key>
				<integer>1150</integer>
				<key>x</key>
				<integer>996</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>-429.5</real>
				<key>offsetY</key>
				<real>-287.5</real>
			</dict>
			<key>bg_quest_46114_parts_parts_03A.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>269</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>5</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_parts_03B.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>270</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1598</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_parts_05.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1696</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_quest_46114_parts_pasta_circle_b.png</key>
			<dict>
				<key>width</key>
				<integer>1027</integer>
				<key>height</key>
				<integer>566</integer>
				<key>originalWidth</key>
				<integer>1150</integer>
				<key>originalHeight</key>
				<integer>1132</integer>
				<key>x</key>
				<integer>996</integer>
				<key>y</key>
				<integer>1465</integer>
				<key>offsetX</key>
				<real>-61.5</real>
				<key>offsetY</key>
				<real>-283</real>
			</dict>
			<key>bg_quest_46114_parts_pasta_circle_a.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>566</integer>
				<key>originalWidth</key>
				<integer>1150</integer>
				<key>originalHeight</key>
				<integer>1132</integer>
				<key>x</key>
				<integer>1710</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>426.5</real>
				<key>offsetY</key>
				<real>283</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>bg_quest_46114_effect0.png</string>
			<key>realTextureFileName</key>
			<string>bg_quest_46114_effect0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>