<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>memoria0012.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria0007.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria0011a.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria0008.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria0010.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria0009.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>397</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>397</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0010.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>798</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0011.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>798</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0012.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>798</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0013.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0014.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0015.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>1184</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0016.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0017.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>1570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>BgEffect0018.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1284</integer>
				<key>y</key>
				<integer>1570</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Gacha2.png</string>
			<key>realTextureFileName</key>
			<string>Gacha2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>