<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1087_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_logo_02.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_logo.png</key>
			<dict>
				<key>width</key>
				<integer>400</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>410</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_en.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>283</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_chara.png</key>
			<dict>
				<key>width</key>
				<integer>719</integer>
				<key>height</key>
				<integer>711</integer>
				<key>originalWidth</key>
				<integer>719</integer>
				<key>originalHeight</key>
				<integer>711</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_bg_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1525</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut15_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>731</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut14_mirrar.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1501</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut14_book01.png</key>
			<dict>
				<key>width</key>
				<integer>597</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>597</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>713</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut13_tx.png</key>
			<dict>
				<key>width</key>
				<integer>752</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1501</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut12_tx.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>389</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>446</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_title.png</key>
			<dict>
				<key>width</key>
				<integer>446</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>446</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_choko06.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1525</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_choko05.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>254</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1034</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_choko04.png</key>
			<dict>
				<key>width</key>
				<integer>355</integer>
				<key>height</key>
				<integer>445</integer>
				<key>originalWidth</key>
				<integer>355</integer>
				<key>originalHeight</key>
				<integer>445</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1562</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_choko03.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>202</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>1821</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut10_chako01.png</key>
			<dict>
				<key>width</key>
				<integer>663</integer>
				<key>height</key>
				<integer>715</integer>
				<key>originalWidth</key>
				<integer>663</integer>
				<key>originalHeight</key>
				<integer>715</integer>
				<key>x</key>
				<integer>1315</integer>
				<key>y</key>
				<integer>1034</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut09_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>567</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>567</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1751</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut09_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>568</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>568</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1805</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>53</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1859</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>602</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>602</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1914</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_08.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_07.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>1625</integer>
				<key>y</key>
				<integer>688</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_06.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_05.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1290</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_04.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>531</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_03.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>1821</integer>
				<key>y</key>
				<integer>592</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_02.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut08_tamago_01.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1562</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut06_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>445</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>445</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>871</integer>
				<key>y</key>
				<integer>1968</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut03_tx.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>1318</integer>
				<key>y</key>
				<integer>1968</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1087_cut01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>1625</integer>
				<key>y</key>
				<integer>900</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10870.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10870.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>