<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1176_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1176_parts_black_fade.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1176_parts_cut2_maru.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1176_parts_cut3_logo.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>-225</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut3_mitama.png</key>
			<dict>
				<key>width</key>
				<integer>518</integer>
				<key>height</key>
				<integer>784</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>125</real>
				<key>offsetY</key>
				<real>-92</real>
			</dict>
			<key>adv_eve_1176_parts_cut3_kanagi.png</key>
			<dict>
				<key>width</key>
				<integer>486</integer>
				<key>height</key>
				<integer>765</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1250</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>377</real>
				<key>offsetY</key>
				<real>-101.5</real>
			</dict>
			<key>adv_eve_1176_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut2_text3.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>298</real>
				<key>offsetY</key>
				<real>-134</real>
			</dict>
			<key>adv_eve_1176_parts_cut2_text2.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>161</real>
				<key>offsetY</key>
				<real>-150</real>
			</dict>
			<key>adv_eve_1176_parts_cut2_text1.png</key>
			<dict>
				<key>width</key>
				<integer>674</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>636</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-111.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut2_kira.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>293</integer>
				<key>x</key>
				<integer>363</integer>
				<key>y</key>
				<integer>303</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1176_parts_cut1_text4.png</key>
			<dict>
				<key>width</key>
				<integer>375</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>278.5</real>
				<key>offsetY</key>
				<real>-192.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut1_text3.png</key>
			<dict>
				<key>width</key>
				<integer>252</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>163</real>
				<key>offsetY</key>
				<real>-137.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut1_text2.png</key>
			<dict>
				<key>width</key>
				<integer>464</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>-177</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>adv_eve_1176_parts_cut1_text1.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>-342.5</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11760.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11760.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>