<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1150_parts_cut2_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>766</integer>
				<key>height</key>
				<integer>701</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-233</real>
				<key>offsetY</key>
				<real>-133.5</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>966</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>704</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>adv_eve_1150_parts_cut1_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>1092</integer>
				<key>height</key>
				<integer>694</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>769</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-137</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11501.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11501.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>