<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1013_cut09_chara04.png</key>
			<dict>
				<key>width</key>
				<integer>854</integer>
				<key>height</key>
				<integer>605</integer>
				<key>originalWidth</key>
				<integer>854</integer>
				<key>originalHeight</key>
				<integer>605</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut09_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>882</integer>
				<key>height</key>
				<integer>606</integer>
				<key>originalWidth</key>
				<integer>882</integer>
				<key>originalHeight</key>
				<integer>606</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut09_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>968</integer>
				<key>height</key>
				<integer>666</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>666</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut09_chara01_01.png</key>
			<dict>
				<key>width</key>
				<integer>621</integer>
				<key>height</key>
				<integer>631</integer>
				<key>originalWidth</key>
				<integer>621</integer>
				<key>originalHeight</key>
				<integer>631</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut04_letter02.png</key>
			<dict>
				<key>width</key>
				<integer>295</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>295</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut04_letter01.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>235</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>1740</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut04_ene01.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>329</integer>
				<key>x</key>
				<integer>1267</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut04_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>929</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut02_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>494</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>494</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>1276</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut02_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>1397</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1013_cut01_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1228</integer>
				<key>y</key>
				<integer>939</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10131.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10131.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>