<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1147_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut4_tex01.png</key>
			<dict>
				<key>width</key>
				<integer>561</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>611</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_white.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_white_fade.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut4_logo.png</key>
			<dict>
				<key>width</key>
				<integer>526</integer>
				<key>height</key>
				<integer>263</integer>
				<key>originalWidth</key>
				<integer>526</integer>
				<key>originalHeight</key>
				<integer>263</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut1_flare.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>475</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>475</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut4_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>968</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut3_tex01.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>432</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut3_chara04.png</key>
			<dict>
				<key>width</key>
				<integer>678</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>678</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>971</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut3_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>685</integer>
				<key>height</key>
				<integer>870</integer>
				<key>originalWidth</key>
				<integer>685</integer>
				<key>originalHeight</key>
				<integer>870</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>971</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut1_tex01.png</key>
			<dict>
				<key>width</key>
				<integer>472</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>472</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1742</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut1_tex02.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>837</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut1_tex03.png</key>
			<dict>
				<key>width</key>
				<integer>460</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>460</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1884</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1147_parts_cut1_flare02.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>475</integer>
				<key>y</key>
				<integer>1742</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11470.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11470.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>