<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1164_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1164_parts_chara_06.png</key>
			<dict>
				<key>width</key>
				<integer>528</integer>
				<key>height</key>
				<integer>746</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>231</real>
				<key>offsetY</key>
				<real>-111</real>
			</dict>
			<key>adv_eve_1164_parts_logo.png</key>
			<dict>
				<key>width</key>
				<integer>354</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-288</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>adv_eve_1164_parts_logo_2.png</key>
			<dict>
				<key>width</key>
				<integer>352</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>-289</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>adv_eve_1164_parts_logo_3.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>-298</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>adv_eve_1164_parts_logo_4.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>532</integer>
				<key>y</key>
				<integer>695</integer>
				<key>offsetX</key>
				<real>-319</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>adv_eve_1164_parts_logo_5.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-335.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>adv_eve_1164_parts_bg_shitaji_03.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>964</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1153</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-283</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>adv_eve_1164_parts_bg_shitaji_02.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>968</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>-413</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1164_parts_bg_shitaji_01.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>968</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>-504</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1164_parts_text01.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1826</integer>
				<key>offsetX</key>
				<real>-286</real>
				<key>offsetY</key>
				<real>164</real>
			</dict>
			<key>adv_eve_1164_parts_text02.png</key>
			<dict>
				<key>width</key>
				<integer>359</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>332.5</real>
				<key>offsetY</key>
				<real>-189</real>
			</dict>
			<key>adv_eve_1164_parts_chara_01.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>745</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-111.5</real>
			</dict>
			<key>adv_eve_1164_parts_chara_02.png</key>
			<dict>
				<key>width</key>
				<integer>514</integer>
				<key>height</key>
				<integer>849</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>968</integer>
				<key>offsetX</key>
				<real>-383</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11640.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11640.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>