<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1093_cut13_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut12_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_hoshi03.png</key>
			<dict>
				<key>width</key>
				<integer>857</integer>
				<key>height</key>
				<integer>390</integer>
				<key>originalWidth</key>
				<integer>857</integer>
				<key>originalHeight</key>
				<integer>390</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_hoshi02.png</key>
			<dict>
				<key>width</key>
				<integer>578</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>578</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_hoshi01.png</key>
			<dict>
				<key>width</key>
				<integer>960</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1540</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>684</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>684</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>517</integer>
				<key>height</key>
				<integer>597</integer>
				<key>originalWidth</key>
				<integer>517</integer>
				<key>originalHeight</key>
				<integer>597</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>809</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>809</integer>
				<key>originalHeight</key>
				<integer>265</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1738</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_light02.png</key>
			<dict>
				<key>width</key>
				<integer>401</integer>
				<key>height</key>
				<integer>404</integer>
				<key>originalWidth</key>
				<integer>401</integer>
				<key>originalHeight</key>
				<integer>404</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>1293</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_light01.png</key>
			<dict>
				<key>width</key>
				<integer>264</integer>
				<key>height</key>
				<integer>454</integer>
				<key>originalWidth</key>
				<integer>264</integer>
				<key>originalHeight</key>
				<integer>454</integer>
				<key>x</key>
				<integer>1728</integer>
				<key>y</key>
				<integer>392</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana02.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>811</integer>
				<key>y</key>
				<integer>1738</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>946</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>946</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>811</integer>
				<key>y</key>
				<integer>1921</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut01_ef_hoshi01.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>189</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>1728</integer>
				<key>y</key>
				<integer>848</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10931.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10931.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>