<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1150_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_cutin_yellow_quare.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_cutin_yellow_circle.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_cutin_blue_square.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_cutin_blue_circle.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut3_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>606</integer>
				<key>height</key>
				<integer>746</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>162</real>
				<key>offsetY</key>
				<real>-111</real>
			</dict>
			<key>adv_eve_1150_parts_cut3_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>639</integer>
				<key>height</key>
				<integer>755</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1218</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>78.5</real>
				<key>offsetY</key>
				<real>-106.5</real>
			</dict>
			<key>adv_eve_1150_parts_logo.png</key>
			<dict>
				<key>width</key>
				<integer>393</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>393</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_flowerY.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_flowerB.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>820</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut3_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>968</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>942</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_emo02.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_emo02a.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_emo01.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut2_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>593</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1283</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>268</real>
				<key>offsetY</key>
				<real>-88.5</real>
			</dict>
			<key>adv_eve_1150_parts_cut1_item.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>340</real>
				<key>offsetY</key>
				<real>76.5</real>
			</dict>
			<key>adv_eve_1150_parts_cut1_mokumoku.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1604</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>339</real>
				<key>offsetY</key>
				<real>76</real>
			</dict>
			<key>adv_eve_1150_parts_cut1_mokumoku02.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1150_parts_cut1_eff01.png</key>
			<dict>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>465</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>484</integer>
				<key>x</key>
				<integer>1283</integer>
				<key>y</key>
				<integer>1354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11500.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11500.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>