<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_badend_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx12.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>113</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx11.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx10.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx09.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>75</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx08.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx07.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx06.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx05.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx04.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>190</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_kage02.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_kage01.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef06.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef05.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef04.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>173</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>692</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1206</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>867</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_badend_bg02.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>772</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_badend0.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_badend0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>