<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1156_parts_flare02a.png</key>
			<dict>
				<key>width</key>
				<integer>628</integer>
				<key>height</key>
				<integer>432</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-306</real>
				<key>offsetY</key>
				<real>268</real>
			</dict>
			<key>adv_eve_1156_parts_flare02.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>613</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-130</real>
				<key>offsetY</key>
				<real>177.5</real>
			</dict>
			<key>adv_eve_1156_parts_air01.png</key>
			<dict>
				<key>width</key>
				<integer>1091</integer>
				<key>height</key>
				<integer>560</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>617</integer>
				<key>offsetX</key>
				<real>-94.5</real>
				<key>offsetY</key>
				<real>204</real>
			</dict>
			<key>adv_eve_1156_parts_flare01a.png</key>
			<dict>
				<key>width</key>
				<integer>934</integer>
				<key>height</key>
				<integer>479</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1181</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>adv_eve_1156_parts_flare01.png</key>
			<dict>
				<key>width</key>
				<integer>787</integer>
				<key>height</key>
				<integer>410</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1095</integer>
				<key>y</key>
				<integer>617</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>adv_eve_1156_parts_logobg.png</key>
			<dict>
				<key>width</key>
				<integer>855</integer>
				<key>height</key>
				<integer>408</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>938</integer>
				<key>y</key>
				<integer>1181</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>117</real>
			</dict>
			<key>adv_eve_1156_parts_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>419</integer>
				<key>height</key>
				<integer>433</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>277.5</real>
				<key>offsetY</key>
				<real>-142.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11561.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11561.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>