<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1093_bk.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_wt.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_niji.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_logo02.png</key>
			<dict>
				<key>width</key>
				<integer>618</integer>
				<key>height</key>
				<integer>284</integer>
				<key>originalWidth</key>
				<integer>618</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>34</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_logo01.png</key>
			<dict>
				<key>width</key>
				<integer>564</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>564</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>186</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>408</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>740</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_ef_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1200</integer>
				<key>height</key>
				<integer>865</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>865</integer>
				<key>x</key>
				<integer>620</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_chara.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>689</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>689</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>967</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut13_ef.png</key>
			<dict>
				<key>width</key>
				<integer>832</integer>
				<key>height</key>
				<integer>444</integer>
				<key>originalWidth</key>
				<integer>832</integer>
				<key>originalHeight</key>
				<integer>444</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut12_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>431</integer>
				<key>x</key>
				<integer>1822</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut12_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>420</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>420</integer>
				<key>x</key>
				<integer>544</integer>
				<key>y</key>
				<integer>1313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut12_tx03.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>420</integer>
				<key>originalWidth</key>
				<integer>43</integer>
				<key>originalHeight</key>
				<integer>420</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut11_tx02.png</key>
			<dict>
				<key>width</key>
				<integer>440</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>440</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1658</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut11_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>331</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>331</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut11_txbg.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>1313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut11_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>372</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>1476</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_tx.png</key>
			<dict>
				<key>width</key>
				<integer>1300</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>1300</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1850</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>675</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>675</integer>
				<key>x</key>
				<integer>1378</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut10_hoshi4.png</key>
			<dict>
				<key>width</key>
				<integer>468</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>468</integer>
				<key>originalHeight</key>
				<integer>202</integer>
				<key>x</key>
				<integer>1010</integer>
				<key>y</key>
				<integer>1544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_hara012.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>179</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_hara08.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>735</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_hara07.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_hara04.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>1822</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_hara03.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>1822</integer>
				<key>y</key>
				<integer>606</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut09_light03.png</key>
			<dict>
				<key>width</key>
				<integer>326</integer>
				<key>height</key>
				<integer>456</integer>
				<key>originalWidth</key>
				<integer>326</integer>
				<key>originalHeight</key>
				<integer>456</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>1544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana01.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>223</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>1808</integer>
				<key>y</key>
				<integer>1544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana08.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>1694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana07.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>129</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>1694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana06.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>393</integer>
				<key>y</key>
				<integer>1694</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana05.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>181</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>1192</integer>
				<key>y</key>
				<integer>1313</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana04.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>168</integer>
				<key>originalHeight</key>
				<integer>171</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>1748</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut08_hana03.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>223</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>1808</integer>
				<key>y</key>
				<integer>1770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut03_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut03_ef02.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>618</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut03_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>865</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1093_cut03_ase.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>684</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10930.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10930.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>