<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1038_cut13_chara.png</key>
			<dict>
				<key>width</key>
				<integer>1004</integer>
				<key>height</key>
				<integer>1080</integer>
				<key>originalWidth</key>
				<integer>1004</integer>
				<key>originalHeight</key>
				<integer>1080</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut11_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>603</integer>
				<key>height</key>
				<integer>993</integer>
				<key>originalWidth</key>
				<integer>603</integer>
				<key>originalHeight</key>
				<integer>993</integer>
				<key>x</key>
				<integer>1006</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut11_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>615</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>615</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>1006</integer>
				<key>y</key>
				<integer>995</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut08_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1082</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut07_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1468</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_text02.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>477</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>1082</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_text01.png</key>
			<dict>
				<key>width</key>
				<integer>555</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>555</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1854</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1038_cut01_kawa.png</key>
			<dict>
				<key>width</key>
				<integer>363</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>363</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>1611</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10381.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10381.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>