<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1178_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut3_logo.png</key>
			<dict>
				<key>width</key>
				<integer>333</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>333</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut2_item_poster.png</key>
			<dict>
				<key>width</key>
				<integer>583</integer>
				<key>height</key>
				<integer>516</integer>
				<key>originalWidth</key>
				<integer>583</integer>
				<key>originalHeight</key>
				<integer>516</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut3_chara.png</key>
			<dict>
				<key>width</key>
				<integer>1365</integer>
				<key>height</key>
				<integer>1270</integer>
				<key>originalWidth</key>
				<integer>1365</integer>
				<key>originalHeight</key>
				<integer>1270</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>731</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut2_item_mini_2.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut2_item_mini.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut2_ef.png</key>
			<dict>
				<key>width</key>
				<integer>257</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>257</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut1_item.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>366</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>366</integer>
				<key>x</key>
				<integer>846</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut1_ase2.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1178_parts_cut1_ase1.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>224</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>1235</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11780.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11780.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>