<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1033_cut10_chara03.png</key>
			<dict>
				<key>width</key>
				<integer>461</integer>
				<key>height</key>
				<integer>822</integer>
				<key>originalWidth</key>
				<integer>461</integer>
				<key>originalHeight</key>
				<integer>822</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut10_chara02.png</key>
			<dict>
				<key>width</key>
				<integer>442</integer>
				<key>height</key>
				<integer>786</integer>
				<key>originalWidth</key>
				<integer>442</integer>
				<key>originalHeight</key>
				<integer>786</integer>
				<key>x</key>
				<integer>463</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut10_chara01.png</key>
			<dict>
				<key>width</key>
				<integer>444</integer>
				<key>height</key>
				<integer>707</integer>
				<key>originalWidth</key>
				<integer>444</integer>
				<key>originalHeight</key>
				<integer>707</integer>
				<key>x</key>
				<integer>907</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut09_chara.png</key>
			<dict>
				<key>width</key>
				<integer>1034</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>1034</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>824</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut08_text08.png</key>
			<dict>
				<key>width</key>
				<integer>1021</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>1021</integer>
				<key>originalHeight</key>
				<integer>110</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1210</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut08_text05.png</key>
			<dict>
				<key>width</key>
				<integer>593</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>593</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1322</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img08.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>325</integer>
				<key>originalWidth</key>
				<integer>293</integer>
				<key>originalHeight</key>
				<integer>325</integer>
				<key>x</key>
				<integer>1353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img07.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>487</integer>
				<key>originalWidth</key>
				<integer>407</integer>
				<key>originalHeight</key>
				<integer>487</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1415</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img04.png</key>
			<dict>
				<key>width</key>
				<integer>318</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1648</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img06.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>376</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>376</integer>
				<key>x</key>
				<integer>1353</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img03.png</key>
			<dict>
				<key>width</key>
				<integer>388</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>388</integer>
				<key>originalHeight</key>
				<integer>379</integer>
				<key>x</key>
				<integer>409</integer>
				<key>y</key>
				<integer>1415</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img05.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1036</integer>
				<key>y</key>
				<integer>709</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_img01.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>267</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1725</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut06_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1036</integer>
				<key>y</key>
				<integer>1061</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo09.png</key>
			<dict>
				<key>width</key>
				<integer>638</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>638</integer>
				<key>originalHeight</key>
				<integer>431</integer>
				<key>x</key>
				<integer>799</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo08.png</key>
			<dict>
				<key>width</key>
				<integer>526</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>526</integer>
				<key>originalHeight</key>
				<integer>459</integer>
				<key>x</key>
				<integer>1439</integer>
				<key>y</key>
				<integer>1447</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut03_kumo06.png</key>
			<dict>
				<key>width</key>
				<integer>554</integer>
				<key>height</key>
				<integer>345</integer>
				<key>originalWidth</key>
				<integer>554</integer>
				<key>originalHeight</key>
				<integer>345</integer>
				<key>x</key>
				<integer>1408</integer>
				<key>y</key>
				<integer>705</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut02_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>565</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1904</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1033_cut01_tx01.png</key>
			<dict>
				<key>width</key>
				<integer>409</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>409</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>1322</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_10331.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_10331.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>