<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>adv_eve_1165_parts_white.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1165_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>adv_eve_1165_parts_logo.png</key>
			<dict>
				<key>width</key>
				<integer>556</integer>
				<key>height</key>
				<integer>297</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>adv_eve_1165_parts_eff3.png</key>
			<dict>
				<key>width</key>
				<integer>1084</integer>
				<key>height</key>
				<integer>941</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>adv_eve_1165_parts_text4.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>492</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1347</integer>
				<key>offsetX</key>
				<real>-288.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>adv_eve_1165_parts_text3.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>334</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>1347</integer>
				<key>offsetX</key>
				<real>278</real>
				<key>offsetY</key>
				<real>118</real>
			</dict>
			<key>adv_eve_1165_parts_ring.png</key>
			<dict>
				<key>width</key>
				<integer>937</integer>
				<key>height</key>
				<integer>912</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>adv_eve_1165_parts_text1.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>1347</integer>
				<key>offsetX</key>
				<real>285</real>
				<key>offsetY</key>
				<real>104.5</real>
			</dict>
			<key>adv_eve_1165_parts_text2.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>556</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1347</integer>
				<key>offsetX</key>
				<real>-286.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>adv_eve_1165_parts_mitama2.png</key>
			<dict>
				<key>width</key>
				<integer>548</integer>
				<key>height</key>
				<integer>855</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>968</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>915</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-56.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_11650.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_11650.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>