<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>text_adv_eve_1201.png</key>
			<dict>
				<key>width</key>
				<integer>509</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>510</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>title_adv_eve_1201-2.png</key>
			<dict>
				<key>width</key>
				<integer>395</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>title_adv_eve_1201.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>bg_adv_eve_1201_3.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>397</integer>
				<key>y</key>
				<integer>26</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_adv_eve_1201_white.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>467</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_adv_eve_1201_2.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>796</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>adv_eve_12010.png</string>
			<key>realTextureFileName</key>
			<string>adv_eve_12010.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>