<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>efe_scene0_top_light.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_top_screen.png</key>
			<dict>
				<key>width</key>
				<integer>926</integer>
				<key>height</key>
				<integer>681</integer>
				<key>originalWidth</key>
				<integer>978</integer>
				<key>originalHeight</key>
				<integer>719</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>efe_scene0_top_noise03.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>365</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_scene0_top_noise04.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>126</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_scene0_top_noise01.png</key>
			<dict>
				<key>width</key>
				<integer>802</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>802</integer>
				<key>originalHeight</key>
				<integer>249</integer>
				<key>x</key>
				<integer>1056</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>efe_scene0_top_noise02.png</key>
			<dict>
				<key>width</key>
				<integer>859</integer>
				<key>height</key>
				<integer>378</integer>
				<key>originalWidth</key>
				<integer>896</integer>
				<key>originalHeight</key>
				<integer>378</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>461</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg_scene0_topX.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>568</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>568</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>858</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_scene0_topBG_X0.png</string>
			<key>realTextureFileName</key>
			<string>web_scene0_topBG_X0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>