<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>evt_majo_parts_white.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_touch_screen01.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>340</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_touch_screen00.png</key>
			<dict>
				<key>width</key>
				<integer>515</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>515</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0000.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0001.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0002.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0003.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0004.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0005.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0006.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_new0007.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>258</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_get_ef_ring.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>memoria_2016_c_sample.png</key>
			<dict>
				<key>width</key>
				<integer>652</integer>
				<key>height</key>
				<integer>990</integer>
				<key>originalWidth</key>
				<integer>652</integer>
				<key>originalHeight</key>
				<integer>990</integer>
				<key>x</key>
				<integer>623</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_ef03.png</key>
			<dict>
				<key>width</key>
				<integer>348</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>348</integer>
				<key>originalHeight</key>
				<integer>348</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>408</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_ef01.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>334</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>334</integer>
				<key>x</key>
				<integer>1279</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>384</integer>
				<key>x</key>
				<integer>1279</integer>
				<key>y</key>
				<integer>338</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint6.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>760</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint5.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_paint_2.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>994</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_paint_3.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1544</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_paint_4.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>994</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_paint_5.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>384</integer>
				<key>y</key>
				<integer>1386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt1_image_majo_2016_sample.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>364</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>364</integer>
				<key>x</key>
				<integer>1279</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint4.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>1386</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint3.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>1152</integer>
				<key>y</key>
				<integer>1094</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint2.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>1651</integer>
				<key>y</key>
				<integer>726</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_canvas_paint1.png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>388</integer>
				<key>x</key>
				<integer>1152</integer>
				<key>y</key>
				<integer>1486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>evt_majo_memoria_get0.png</string>
			<key>realTextureFileName</key>
			<string>evt_majo_memoria_get0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>