<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>740202l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>740202l_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>740202l_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>740202l_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>740202l_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>740202l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>75.5</real>
			</dict>
			<key>740202l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>13</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>55.5</real>
			</dict>
			<key>740202l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>64.5</real>
			</dict>
			<key>740202l_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>80</real>
			</dict>
			<key>740202l_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>66</real>
				<key>offsetY</key>
				<real>59.5</real>
			</dict>
			<key>740202l_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>88</real>
			</dict>
			<key>740202l_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>12</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-84.5</real>
			</dict>
			<key>740202l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>45</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>740202l_parts10b.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>196</integer>
				<key>originalHeight</key>
				<integer>226</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>45</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_740202_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_740202_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>