<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>103300dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>103300dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_partsDtongue05.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>103300dr_partsDtongue04.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>103300dr_partsDtongue03.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>103300dr_partsDtongue02.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>47</real>
			</dict>
			<key>103300dr_partsDface.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>103300dr_partsDface02.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>103300dr_partsDtongue01.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>103300dr_partsDHead001.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>103300dr_partsDComb01.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>40</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>103300dr_partsDComb02.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>103300dr_partsDComb03.png</key>
			<dict>
				<key>width</key>
				<integer>399</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>407</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>37.5</real>
			</dict>
			<key>103300dr_partsDArmDeco01L.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>103300dr_partsDArmDeco02L.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>520</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>608</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>103300dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>103300dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>103300dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>569</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>103300dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>458</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>103300dr_partsDBody01e.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>569</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>103300dr_partsDBody01d.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>676</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>103300dr_partsDBody01c.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>103300dr_partsDBody01b.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>701</integer>
				<key>originalHeight</key>
				<integer>638</integer>
				<key>x</key>
				<integer>862</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>103300dr_partsDBody01a.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>452</integer>
				<key>originalWidth</key>
				<integer>631</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>1196</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>103300dr_partsDBody01.png</key>
			<dict>
				<key>width</key>
				<integer>627</integer>
				<key>height</key>
				<integer>633</integer>
				<key>originalWidth</key>
				<integer>730</integer>
				<key>originalHeight</key>
				<integer>702</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>103300dr_parts03_hairLmomi.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>681</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>103300dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>540</integer>
				<key>offsetX</key>
				<real>-68.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>103300dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>862</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>103300dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>731</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-68.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>103300dr_parts03_hairRmomi.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>185</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>103300dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>611</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>103300dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>103300dr_parts03Stall01.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>760</integer>
				<key>y</key>
				<integer>708</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>103300dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>103300dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>739</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>103300dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>238</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>103300dr_parts03Stall00.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>296</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>894</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>103300dr_partsDArmDeco01R.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>255</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1567</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>103300dr_partsDArmDeco02R.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>455</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>608</integer>
				<key>x</key>
				<integer>680</integer>
				<key>y</key>
				<integer>894</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>103300dr_parts03Hair00L.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>103300dr_parts03Hair01R.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>103300dr_parts03Hair00R.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>168</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>103300dr_parts03HeadAcs00.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>332</integer>
				<key>originalHeight</key>
				<integer>289</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>640</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_partsDCrest01a.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>231</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_partsDCrest02a.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>231</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>1567</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>103300dr_partsDCrest03a.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>231</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1271</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>103300dr_partsDCrest04a.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>231</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1719</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>103300dr_partsDwingS02A.png</key>
			<dict>
				<key>width</key>
				<integer>422</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>199</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>1567</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>103300dr_partsDwingS01A.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1726</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>103300dr_partsDwingS02B.png</key>
			<dict>
				<key>width</key>
				<integer>441</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>309</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>95.5</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>103300dr_partsDwingS01B.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>752</integer>
				<key>originalHeight</key>
				<integer>422</integer>
				<key>x</key>
				<integer>1624</integer>
				<key>y</key>
				<integer>180</integer>
				<key>offsetX</key>
				<real>-165</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>103300dr_partsDwing00.png</key>
			<dict>
				<key>width</key>
				<integer>534</integer>
				<key>height</key>
				<integer>852</integer>
				<key>originalWidth</key>
				<integer>714</integer>
				<key>originalHeight</key>
				<integer>931</integer>
				<key>x</key>
				<integer>1388</integer>
				<key>y</key>
				<integer>454</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>103300dr_partsDtailB02.png</key>
			<dict>
				<key>width</key>
				<integer>263</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>524</integer>
				<key>originalHeight</key>
				<integer>499</integer>
				<key>x</key>
				<integer>896</integer>
				<key>y</key>
				<integer>972</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>103300dr_partsDtailB01.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>524</integer>
				<key>originalHeight</key>
				<integer>499</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>1684</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_partsDtailA01.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>524</integer>
				<key>originalHeight</key>
				<integer>499</integer>
				<key>x</key>
				<integer>629</integer>
				<key>y</key>
				<integer>1351</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>103300dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>696</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>773</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>1838</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1955</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1255</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>1684</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>1929</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1327</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>103300dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>1826</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>103300dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>525</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>525</integer>
				<key>x</key>
				<integer>1047</integer>
				<key>y</key>
				<integer>1308</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_103300_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_103300_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>