<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>110900mr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>110900mr_parts_name.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>110900mr_parts08a01R.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>110900mr_parts08a01L.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>110900mr_parts08a02L.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>110900mr_parts08a02R.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>110900mr_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>353</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-80</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts01_Rena_B01.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>81</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>110900mr_parts01_Rena_B02.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>110900mr_parts01_Rena_B03.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-89</real>
			</dict>
			<key>110900mr_parts01_Rena_C01.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>110900mr_parts01_Rena_C02.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>110900mr_parts01_Rena_C03.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>110900mr_parts03_Ren.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>502</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>110900mr_parts03_Nanaka.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-83</real>
			</dict>
			<key>110900mr_parts03_Yachiyo.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>309</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-100.5</real>
			</dict>
			<key>110900mr_parts03_Ui.png</key>
			<dict>
				<key>width</key>
				<integer>255</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-71</real>
			</dict>
			<key>110900mr_parts03_Sayaka.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>467</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>110900mr_parts03_Momoko.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>378</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-56</real>
			</dict>
			<key>110900mr_parts03_Meiyui.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-133.5</real>
			</dict>
			<key>110900mr_parts03_Kyoko.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1057</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-77</real>
			</dict>
			<key>110900mr_parts03_Kaede.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>273</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1721</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>43</real>
				<key>offsetY</key>
				<real>-119.5</real>
			</dict>
			<key>110900mr_parts03_Homura.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1318</integer>
				<key>y</key>
				<integer>468</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-81</real>
			</dict>
			<key>110900mr_parts03_Akira.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>520</integer>
				<key>x</key>
				<integer>1721</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-103.5</real>
			</dict>
			<key>110900mr_parts01_Rena_A01.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>337</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1531</integer>
				<key>y</key>
				<integer>570</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>110900mr_parts01_Rena_A02.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>422</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>-70</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>110900mr_parts01_Rena_A03.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-65</real>
				<key>offsetY</key>
				<real>103.5</real>
			</dict>
			<key>110900mr_parts04_Rena.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>339</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1757</integer>
				<key>y</key>
				<integer>570</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>110900mr_parts05_Rena.png</key>
			<dict>
				<key>width</key>
				<integer>430</integer>
				<key>height</key>
				<integer>537</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>996</integer>
				<key>offsetX</key>
				<real>34</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>110900mr_parts02_Iroha.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>787</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>110900mr_parts04_Iroha.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1534</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>110900mr_parts05_Iroha.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>419</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>431</integer>
				<key>y</key>
				<integer>1117</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>110900mr_parts02_Kako.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>110900mr_parts04_Kako.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>909</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>110900mr_parts02_Rika.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>1537</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>110900mr_parts04_Rika.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>1537</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>110900mr_parts02_Mami.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1111</integer>
				<key>y</key>
				<integer>819</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>110900mr_parts04_Mami.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1296</integer>
				<key>y</key>
				<integer>819</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>110900mr_parts05_Mami.png</key>
			<dict>
				<key>width</key>
				<integer>332</integer>
				<key>height</key>
				<integer>437</integer>
				<key>originalWidth</key>
				<integer>640</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>730</integer>
				<key>y</key>
				<integer>1241</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-46.5</real>
			</dict>
			<key>110900mr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>821</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts06d.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>287</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>110900mr_parts06e.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1866</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>110900mr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts_STAGE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>1111</integer>
				<key>y</key>
				<integer>1161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110900mr_parts08b.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>667</integer>
				<key>y</key>
				<integer>1679</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_110900_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_110900_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>