<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>110600dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>110600dr_partsD_headFire01.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>67.5</real>
			</dict>
			<key>110600dr_partsD_headFire02.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>67</real>
			</dict>
			<key>110600dr_partsD_headFire03.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>172</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>67.5</real>
			</dict>
			<key>110600dr_partsD_head.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-60.5</real>
			</dict>
			<key>110600dr_partsD_armFireLA01.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>379</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>110600dr_partsD_armLa01.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-56</real>
				<key>offsetY</key>
				<real>-61</real>
			</dict>
			<key>110600dr_partsD_armLa02.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>102.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>110600dr_partsD_armLa03.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>157.5</real>
				<key>offsetY</key>
				<real>85</real>
			</dict>
			<key>110600dr_partsD_armFireRA01.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>113</integer>
				<key>y</key>
				<integer>132</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>110600dr_partsD_armRa01.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>339</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>110600dr_partsD_armRa02.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>25.5</real>
			</dict>
			<key>110600dr_partsD_armRa03.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>-69.5</real>
				<key>offsetY</key>
				<real>101.5</real>
			</dict>
			<key>110600dr_partsD_armFireLB01.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>110600dr_partsD_armLb01.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>-86</real>
			</dict>
			<key>110600dr_partsD_armLb02.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>46.5</real>
			</dict>
			<key>110600dr_partsD_armLb03.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>770</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>147.5</real>
			</dict>
			<key>110600dr_partsD_armFireRB01.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>110600dr_partsD_armRb01.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-74.5</real>
			</dict>
			<key>110600dr_partsD_armRb02.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>367</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>110600dr_partsD_armRb03.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>138.5</real>
			</dict>
			<key>110600dr_partsD_neckAcce.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>110600dr_partsD_ribbonR.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110600dr_partsD_ribbonL.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>110600dr_partsD_LongClothL.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>465</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>110600dr_partsD_LongClothR.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>450</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>110600dr_partsD_mantleR.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>-141.5</real>
				<key>offsetY</key>
				<real>74</real>
			</dict>
			<key>110600dr_partsD_mantleL.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>748</integer>
				<key>offsetX</key>
				<real>94.5</real>
				<key>offsetY</key>
				<real>71.5</real>
			</dict>
			<key>110600dr_partsD_mantleC.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>827</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>110600dr_partsD_upCothL03.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>855</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>110600dr_partsD_upCothL02.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>390</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>110600dr_partsD_upCothL01.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>357</integer>
				<key>offsetX</key>
				<real>49.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>110600dr_partsD_redMantleL.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>585</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>110600dr_partsD_underCothL02.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>795</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>-32.5</real>
			</dict>
			<key>110600dr_partsD_underCothL01.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>47</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>110600dr_partsD_underMantleL.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1108</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>110600dr_partsD_upCothR03.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>938</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>110600dr_partsD_upCothR02.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>110600dr_partsD_upCothR01.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>806</integer>
				<key>y</key>
				<integer>391</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_partsD_redMantleR.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>110600dr_partsD_underCothR02.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1059</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>110600dr_partsD_underCothR01.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1422</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>110600dr_partsD_underMantleR.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>276</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1158</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>110600dr_parts04c_acce.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>110600dr_parts04c_string1.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>110600dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>842</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>110600dr_parts04a_cloth.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>283</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>110600dr_parts04c_string.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>110600dr_parts14c_string.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>4</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>110600dr_parts04c_cloth3.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>547</integer>
				<key>y</key>
				<integer>842</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>110600dr_parts04c_clothString0.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110600dr_parts04c_cloth4.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>110600dr_parts04c_clothString1.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>182</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>110600dr_parts04c_cloth0.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>110600dr_parts04c_cloth1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts04c_cloth2.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>419</integer>
				<key>y</key>
				<integer>280</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>110600dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>110600dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>459</integer>
				<key>y</key>
				<integer>698</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>110600dr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>758</integer>
				<key>y</key>
				<integer>795</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>110600dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>644</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>110600dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1567</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>110600dr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>842</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>110600dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts04c_cloth5.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1059</integer>
				<key>y</key>
				<integer>526</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>110600dr_parts04c_cloth6.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>110600dr_parts04c_cloth7.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>958</integer>
				<key>y</key>
				<integer>644</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>110600dr_parts04a_ring.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1607</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110600dr_partsD_tale.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>807</integer>
				<key>y</key>
				<integer>795</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>110600dr_partsD_backMantle.png</key>
			<dict>
				<key>width</key>
				<integer>418</integer>
				<key>height</key>
				<integer>477</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>550</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>259</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>110600dr_partsD_backFire_L01.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>580</integer>
				<key>offsetX</key>
				<real>44.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>110600dr_partsD_backFire_L02.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>938</integer>
				<key>y</key>
				<integer>803</integer>
				<key>offsetX</key>
				<real>46.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>110600dr_partsD_backFire_L03.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1837</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>110600dr_partsD_backFire_L11.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>78</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>110600dr_partsD_backFire_L12.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1226</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>69</real>
				<key>offsetY</key>
				<real>40</real>
			</dict>
			<key>110600dr_partsD_backFire_L13.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1837</integer>
				<key>y</key>
				<integer>134</integer>
				<key>offsetX</key>
				<real>74.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>110600dr_partsD_backFire_R01.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>758</integer>
				<key>y</key>
				<integer>918</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-56</real>
			</dict>
			<key>110600dr_partsD_backFire_R02.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>110600dr_partsD_backFire_R03.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>962</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>110600dr_partsD_backFire_R11.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1131</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>110600dr_partsD_backFire_R12.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1304</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>110600dr_partsD_backFire_R13.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1196</integer>
				<key>y</key>
				<integer>849</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>110600dr_partsD_ring.png</key>
			<dict>
				<key>width</key>
				<integer>408</integer>
				<key>height</key>
				<integer>462</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>110600dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>1008</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>110600dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1486</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>1118</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1582</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>110600dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>1486</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>110600dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>1105</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>110600dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>410</integer>
				<key>y</key>
				<integer>1216</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>110600dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>450</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>1018</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_110600_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_110600_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>