<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>105200dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>105200dr_parts_txt16.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt15.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105200dr_parts_txt14.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>174</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt13.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105200dr_parts_txt12.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>105200dr_parts_txt11.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>369</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>213</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>327</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105200dr_parts01.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>476</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-99.5</real>
			</dict>
			<key>105200dr_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>-48.5</real>
				<key>offsetY</key>
				<real>-100</real>
			</dict>
			<key>105200dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>503</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>105200dr_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>143.5</real>
				<key>offsetY</key>
				<real>-96</real>
			</dict>
			<key>105200dr_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>106.5</real>
				<key>offsetY</key>
				<real>-35</real>
			</dict>
			<key>105200dr_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>208.5</real>
				<key>offsetY</key>
				<real>-201.5</real>
			</dict>
			<key>105200dr_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>62.5</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>105200dr_parts08.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>234</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-52</real>
			</dict>
			<key>105200dr_parts09.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>105200dr_parts10.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-100</real>
			</dict>
			<key>105200dr_parts11.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>424</integer>
				<key>offsetX</key>
				<real>-58.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>105200dr_parts12.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>584</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-144</real>
				<key>offsetY</key>
				<real>-98.5</real>
			</dict>
			<key>105200dr_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>324</integer>
				<key>offsetX</key>
				<real>-69</real>
				<key>offsetY</key>
				<real>-54.5</real>
			</dict>
			<key>105200dr_parts14.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>-203.5</real>
				<key>offsetY</key>
				<real>-198.5</real>
			</dict>
			<key>105200dr_parts15.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>103.5</real>
			</dict>
			<key>105200dr_parts16.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>-30.5</real>
				<key>offsetY</key>
				<real>96.5</real>
			</dict>
			<key>105200dr_parts_Da01.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>269</real>
				<key>offsetY</key>
				<real>677.5</real>
			</dict>
			<key>105200dr_parts_Da02.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>217</real>
				<key>offsetY</key>
				<real>597</real>
			</dict>
			<key>105200dr_parts_Da03.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>415</real>
				<key>offsetY</key>
				<real>630.5</real>
			</dict>
			<key>105200dr_parts_Da04.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>416</integer>
				<key>offsetX</key>
				<real>384</real>
				<key>offsetY</key>
				<real>586.5</real>
			</dict>
			<key>105200dr_parts_Da05.png</key>
			<dict>
				<key>width</key>
				<integer>340</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>638</integer>
				<key>offsetX</key>
				<real>200</real>
				<key>offsetY</key>
				<real>530.5</real>
			</dict>
			<key>105200dr_parts_Db01.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>470</integer>
				<key>offsetX</key>
				<real>259.5</real>
				<key>offsetY</key>
				<real>-623.5</real>
			</dict>
			<key>105200dr_parts_Db02.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>470</integer>
				<key>offsetX</key>
				<real>188.5</real>
				<key>offsetY</key>
				<real>-387</real>
			</dict>
			<key>105200dr_parts_Db03.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>384</real>
				<key>offsetY</key>
				<real>-396</real>
			</dict>
			<key>105200dr_parts_Db04.png</key>
			<dict>
				<key>width</key>
				<integer>484</integer>
				<key>height</key>
				<integer>262</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1011</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>280</real>
				<key>offsetY</key>
				<real>-215</real>
			</dict>
			<key>105200dr_parts_Db05.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>764</integer>
				<key>y</key>
				<integer>448</integer>
				<key>offsetX</key>
				<real>496.5</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>105200dr_parts_Db06.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>296</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>105200dr_parts_Db07.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>549.5</real>
				<key>offsetY</key>
				<real>290.5</real>
			</dict>
			<key>105200dr_parts_Db08.png</key>
			<dict>
				<key>width</key>
				<integer>520</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>764</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>314</real>
				<key>offsetY</key>
				<real>208</real>
			</dict>
			<key>105200dr_parts_Dc01.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1496</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>357.5</real>
			</dict>
			<key>105200dr_parts_Dd01.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-331.5</real>
			</dict>
			<key>105200dr_parts_Dd02.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>566</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>98</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>105200dr_parts_De01.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>684</integer>
				<key>offsetX</key>
				<real>169.5</real>
				<key>offsetY</key>
				<real>-108.5</real>
			</dict>
			<key>105200dr_parts_Df01.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>764</integer>
				<key>y</key>
				<integer>824</integer>
				<key>offsetX</key>
				<real>-328.5</real>
				<key>offsetY</key>
				<real>138.5</real>
			</dict>
			<key>105200dr_parts_Dg01.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1285</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>-336.5</real>
				<key>offsetY</key>
				<real>-56.5</real>
			</dict>
			<key>105200dr_parts_Df02.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>863</integer>
				<key>y</key>
				<integer>87</integer>
				<key>offsetX</key>
				<real>-280.5</real>
				<key>offsetY</key>
				<real>125.5</real>
			</dict>
			<key>105200dr_parts_Dg02.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-305</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>105200dr_parts_Df03.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-279</real>
				<key>offsetY</key>
				<real>124</real>
			</dict>
			<key>105200dr_parts_Dg03.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1142</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>-299.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>105200dr_parts_Df04.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>-280.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>105200dr_parts_Df06b.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1496</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>-241</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>105200dr_parts_Df05.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1095</integer>
				<key>y</key>
				<integer>824</integer>
				<key>offsetX</key>
				<real>-354</real>
				<key>offsetY</key>
				<real>110.5</real>
			</dict>
			<key>105200dr_parts_Df06.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1638</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>-269.5</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>105200dr_parts_Dg04.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>298</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1837</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>-298.5</real>
				<key>offsetY</key>
				<real>-86.5</real>
			</dict>
			<key>105200dr_parts_Dh01.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1005</integer>
				<key>offsetX</key>
				<real>-162.5</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>105200dr_parts_Dj01.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1204</integer>
				<key>offsetX</key>
				<real>-83</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>105200dr_parts_Dj01b.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>940</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>105200dr_parts_Dj02.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>291</integer>
				<key>y</key>
				<integer>1067</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>-54</real>
			</dict>
			<key>105200dr_parts_Dj03.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1364</integer>
				<key>offsetX</key>
				<real>-87</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>105200dr_parts_Di01.png</key>
			<dict>
				<key>width</key>
				<integer>354</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>411</integer>
				<key>y</key>
				<integer>983</integer>
				<key>offsetX</key>
				<real>-87.5</real>
				<key>offsetY</key>
				<real>33.5</real>
			</dict>
			<key>105200dr_parts_Dj04.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>1273</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>-141</real>
			</dict>
			<key>105200dr_parts_Di02.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1653</integer>
				<key>offsetX</key>
				<real>94</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>105200dr_parts_Dj05.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>766</integer>
				<key>y</key>
				<integer>971</integer>
				<key>offsetX</key>
				<real>96</real>
				<key>offsetY</key>
				<real>-120.5</real>
			</dict>
			<key>105200dr_parts_Di03.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>1196</integer>
				<key>offsetX</key>
				<real>280.5</real>
				<key>offsetY</key>
				<real>109.5</real>
			</dict>
			<key>105200dr_parts_Dk01.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1363</integer>
				<key>y</key>
				<integer>263</integer>
				<key>offsetX</key>
				<real>-486</real>
				<key>offsetY</key>
				<real>441</real>
			</dict>
			<key>105200dr_parts_Dk02.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>1461</integer>
				<key>offsetX</key>
				<real>-403.5</real>
				<key>offsetY</key>
				<real>547</real>
			</dict>
			<key>105200dr_parts_Dk03.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1496</integer>
				<key>y</key>
				<integer>276</integer>
				<key>offsetX</key>
				<real>-404.5</real>
				<key>offsetY</key>
				<real>677.5</real>
			</dict>
			<key>105200dr_parts_Dk04.png</key>
			<dict>
				<key>width</key>
				<integer>269</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>1461</integer>
				<key>offsetX</key>
				<real>-263.5</real>
				<key>offsetY</key>
				<real>538</real>
			</dict>
			<key>105200dr_parts_Dl01.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>952</integer>
				<key>y</key>
				<integer>971</integer>
				<key>offsetX</key>
				<real>-444.5</real>
				<key>offsetY</key>
				<real>-553</real>
			</dict>
			<key>105200dr_parts_Dl02.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>508</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1150</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-316</real>
				<key>offsetY</key>
				<real>-327</real>
			</dict>
			<key>105200dr_parts_Dl03.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1931</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-508</real>
				<key>offsetY</key>
				<real>-209</real>
			</dict>
			<key>105200dr_parts_Dl04.png</key>
			<dict>
				<key>width</key>
				<integer>375</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>1678</integer>
				<key>offsetX</key>
				<real>-316.5</real>
				<key>offsetY</key>
				<real>-264.5</real>
			</dict>
			<key>105200dr_parts_Dl05.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>925</integer>
				<key>y</key>
				<integer>1190</integer>
				<key>offsetX</key>
				<real>-543.5</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>105200dr_parts_Dl06.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1883</integer>
				<key>offsetX</key>
				<real>-364</real>
				<key>offsetY</key>
				<real>82.5</real>
			</dict>
			<key>105200dr_parts_Dl07.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>1449</integer>
				<key>offsetX</key>
				<real>-492</real>
				<key>offsetY</key>
				<real>178.5</real>
			</dict>
			<key>105200dr_parts_Dl08.png</key>
			<dict>
				<key>width</key>
				<integer>304</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1700</integer>
				<key>x</key>
				<integer>1345</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-337</real>
				<key>offsetY</key>
				<real>99.5</real>
			</dict>
			<key>105200dr_parts_Dm01.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>559</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>849</integer>
				<key>y</key>
				<integer>1449</integer>
				<key>offsetX</key>
				<real>-136.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>105200dr_parts_Dm02.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>1077</integer>
				<key>y</key>
				<integer>1440</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>105200dr_parts_Dm03.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>1931</integer>
				<key>y</key>
				<integer>221</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>105200dr_parts_Dm04.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>343</integer>
				<key>y</key>
				<integer>1866</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>105200dr_parts_Dm05.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>290</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>850</integer>
				<key>x</key>
				<integer>1650</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>105200dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>540</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>540</integer>
				<key>x</key>
				<integer>1283</integer>
				<key>y</key>
				<integer>1440</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_105200_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_105200_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>