<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>300400dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>300400dr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_partsD_ball1.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>11</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_partsD_ball2.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>60.5</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>300400dr_partsD_chainB_1.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>-193.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>300400dr_partsD_chainB_2.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>438</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>300400dr_partsD_chainB_3.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>201</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>300400dr_parts_txt12.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300400dr_parts_txt11.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300400dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300400dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300400dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300400dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300400dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>798</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>222</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300400dr_partsD_ear_L.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>300400dr_partsD_head1.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>431</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300400dr_partsD_chainA_1.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>407</integer>
				<key>offsetX</key>
				<real>-845.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300400dr_partsD_chainA_2.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>-637.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300400dr_partsD_chainA_3.png</key>
			<dict>
				<key>width</key>
				<integer>244</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>-446</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300400dr_partsD_chainA_4.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>545</integer>
				<key>offsetX</key>
				<real>-237.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_partsD_chainA_5.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_partsD_chainA_6.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>587</integer>
				<key>offsetX</key>
				<real>150</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300400dr_partsD_chainA_7.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>630</integer>
				<key>offsetX</key>
				<real>340</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300400dr_partsD_chainA_8.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>536.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300400dr_partsD_chainA_9.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>735.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300400dr_partsD_chainA_10.png</key>
			<dict>
				<key>width</key>
				<integer>157</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>316</integer>
				<key>offsetX</key>
				<real>888.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>300400dr_partsD_head2.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>-191</real>
			</dict>
			<key>300400dr_partsD_ear_R.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_partsD_belt_L1.png</key>
			<dict>
				<key>width</key>
				<integer>388</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>300400dr_partsD_armB_L1.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>703</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-42</real>
			</dict>
			<key>300400dr_partsD_leg_L1.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>148</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>783</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>299</real>
			</dict>
			<key>300400dr_partsD_leg_L2.png</key>
			<dict>
				<key>width</key>
				<integer>222</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>783</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>261.5</real>
			</dict>
			<key>300400dr_partsD_leg_L3.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>532</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1005</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>300400dr_partsD_leg_L4.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1220</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>274.5</real>
			</dict>
			<key>300400dr_partsD_leg_L5.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1220</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>-48.5</real>
				<key>offsetY</key>
				<real>-283.5</real>
			</dict>
			<key>300400dr_partsD_armB_L2.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>897</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-185</real>
			</dict>
			<key>300400dr_partsD_armA_L.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>141</real>
			</dict>
			<key>300400dr_partsD_neck.png</key>
			<dict>
				<key>width</key>
				<integer>541</integer>
				<key>height</key>
				<integer>709</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1390</integer>
				<key>y</key>
				<integer>210</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_partsD_cloakA_L.png</key>
			<dict>
				<key>width</key>
				<integer>343</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>533</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_partsD_belt_L2.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>430</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>300400dr_partsD_belt_R.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>614</integer>
				<key>y</key>
				<integer>430</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_partsD_armA_R.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>586</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>109</real>
			</dict>
			<key>300400dr_partsD_cloakA_R.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300400dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>935</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>300400dr_parts03_hair0L.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>957</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>37</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>300400dr_parts00a1.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>300400dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>58.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>300400dr_parts00a2.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>45</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>300400dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>300400dr_parts03_hair0_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>453</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>49.5</real>
			</dict>
			<key>300400dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>875</integer>
				<key>offsetX</key>
				<real>98</real>
				<key>offsetY</key>
				<real>74.5</real>
			</dict>
			<key>300400dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>999</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300400dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1237</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>300400dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>1002</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>300400dr_parts04b_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>43</real>
				<key>offsetY</key>
				<real>-61.5</real>
			</dict>
			<key>300400dr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>504</integer>
				<key>y</key>
				<integer>543</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-31</real>
			</dict>
			<key>300400dr_parts04d_L.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>72.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>300400dr_parts04d_R.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>1108</integer>
				<key>offsetX</key>
				<real>-70</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>300400dr_parts04c_skirt.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>403</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>52.5</real>
			</dict>
			<key>300400dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>957</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>300400dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>300400dr_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>524</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>300400dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>300400dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1415</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>49.5</real>
			</dict>
			<key>300400dr_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>560</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-83.5</real>
			</dict>
			<key>300400dr_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>284</integer>
				<key>y</key>
				<integer>1127</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>300400dr_partsD_weapon1.png</key>
			<dict>
				<key>width</key>
				<integer>473</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>1415</integer>
				<key>offsetX</key>
				<real>-130.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>300400dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>300400dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-59</real>
			</dict>
			<key>300400dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>920</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>300400dr_partsD_weapon2.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>388</integer>
				<key>y</key>
				<integer>1050</integer>
				<key>offsetX</key>
				<real>214</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>300400dr_parts03_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>216</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>765</integer>
				<key>offsetX</key>
				<real>104.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>300400dr_parts03_hair1a.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>332</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>765</integer>
				<key>offsetX</key>
				<real>98</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>300400dr_parts03_hair1b.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1534</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>24.5</real>
			</dict>
			<key>300400dr_parts03_hair1c.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>295</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>375</integer>
				<key>x</key>
				<integer>1220</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>-70</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>300400dr_partsD_cloakB.png</key>
			<dict>
				<key>width</key>
				<integer>497</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>1109</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300400dr_partsD_armB_R.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>329</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>1534</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>300400dr_partsD_leg_R1.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>838</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>290.5</real>
			</dict>
			<key>300400dr_partsD_leg_R2.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>213</integer>
				<key>y</key>
				<integer>1278</integer>
				<key>offsetX</key>
				<real>41</real>
				<key>offsetY</key>
				<real>261.5</real>
			</dict>
			<key>300400dr_partsD_leg_R3.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>532</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1014</integer>
				<key>y</key>
				<integer>838</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>300400dr_partsD_leg_R4.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>264</real>
			</dict>
			<key>300400dr_partsD_leg_R5.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>1534</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>-280.5</real>
			</dict>
			<key>300400dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>1387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_300400_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_300400_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>