<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>300200dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>300200dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>86</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300200dr_parts13L2.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts13L1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>39</integer>
				<key>originalHeight</key>
				<integer>98</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300200dr_parts13L3.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>300200dr_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>145</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300200dr_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>236</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>300200dr_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>66</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300200dr_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>113</integer>
				<key>y</key>
				<integer>130</integer>
				<key>offsetX</key>
				<real>-60.5</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>300200dr_parts11b2.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300200dr_parts11b1.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>300200dr_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>300200dr_parts11d.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>300200dr_parts11b3.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>253</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-58.5</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>300200dr_parts13R2.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts13R1.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>364</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts13R3.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>111</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>300200dr_parts23a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>54</integer>
				<key>x</key>
				<integer>113</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300200dr_parts23bL.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>96</integer>
				<key>originalHeight</key>
				<integer>103</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>176</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts23bR.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>111</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300200dr_parts23cL2.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300200dr_parts23cL1.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>32</integer>
				<key>originalHeight</key>
				<integer>148</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts23cR2.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>54</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts23cR1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>744</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts22L3.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>432</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>300200dr_parts22L2.png</key>
			<dict>
				<key>width</key>
				<integer>531</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>555</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>391</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300200dr_parts21L0sub.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts21L0.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>117</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>300200dr_parts21L3.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>314</integer>
				<key>originalWidth</key>
				<integer>327</integer>
				<key>originalHeight</key>
				<integer>339</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>300200dr_parts21L2.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>194</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>814</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>300200dr_parts21L1.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>102</integer>
				<key>originalHeight</key>
				<integer>235</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>479</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>300200dr_parts20bL.png</key>
			<dict>
				<key>width</key>
				<integer>215</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>300200dr_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>599</integer>
				<key>height</key>
				<integer>476</integer>
				<key>originalWidth</key>
				<integer>609</integer>
				<key>originalHeight</key>
				<integer>499</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts20bC.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>294</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>319</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>300200dr_parts20bR.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>214</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>892</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts21R3.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>258</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>1085</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>300200dr_parts21R2.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>238</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts21R1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>121</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>814</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>300200dr_parts01b2.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>300200dr_parts01L2.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>72</integer>
				<key>originalHeight</key>
				<integer>131</integer>
				<key>x</key>
				<integer>248</integer>
				<key>y</key>
				<integer>814</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts01b1.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>1005</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>300200dr_parts01L1.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>133</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>645</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>300200dr_parts01c1.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>-54</real>
			</dict>
			<key>300200dr_parts01c2.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>-54</real>
			</dict>
			<key>300200dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>1216</integer>
				<key>y</key>
				<integer>260</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>300200dr_parts01R1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>67</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>300200dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>1528</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts03L2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>91</integer>
				<key>x</key>
				<integer>1005</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts03L3a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>248</integer>
				<key>y</key>
				<integer>936</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts03L3b.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>57</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300200dr_parts03L1.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>397</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>300200dr_parts03L1sub.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>186</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>108</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>166</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>1435</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts04L1.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>771</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts04L3.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts04L2.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts04R1.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1622</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>300200dr_parts04R3.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>855</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts04R2.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>1370</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>1216</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>300200dr_parts01R2.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>1673</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-64</real>
				<key>offsetY</key>
				<real>-35.5</real>
			</dict>
			<key>300200dr_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>191</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>1415</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts03R2.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>85</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>300200dr_parts03R1.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>95</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>300200dr_parts22L1.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>64</integer>
				<key>originalHeight</key>
				<integer>65</integer>
				<key>x</key>
				<integer>1005</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts22R3.png</key>
			<dict>
				<key>width</key>
				<integer>391</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>433</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>1193</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>300200dr_parts22R2.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>318</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1380</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>300200dr_parts22R1.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>1584</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1661</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts99b.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1861</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts99c.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1193</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300200dr_parts99d.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1770</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>300200dr_parts99e.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1661</integer>
				<key>y</key>
				<integer>284</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>300200dr_parts99f.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>1952</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>300200dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>800</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1015</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_300200_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_300200_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>