<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>620800l_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>882</integer>
				<key>height</key>
				<integer>963</integer>
				<key>originalWidth</key>
				<integer>1440</integer>
				<key>originalHeight</key>
				<integer>2112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-261</real>
				<key>offsetY</key>
				<real>294.5</real>
			</dict>
			<key>620800l_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>822</integer>
				<key>height</key>
				<integer>1070</integer>
				<key>originalWidth</key>
				<integer>1728</integer>
				<key>originalHeight</key>
				<integer>2534</integer>
				<key>x</key>
				<integer>884</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-618</real>
			</dict>
			<key>620800l_parts14d2.png</key>
			<dict>
				<key>width</key>
				<integer>952</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1550</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1072</integer>
				<key>offsetX</key>
				<real>161</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>620800l_parts14e2.png</key>
			<dict>
				<key>width</key>
				<integer>1158</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>2400</integer>
				<key>originalHeight</key>
				<integer>2480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1207</integer>
				<key>offsetX</key>
				<real>72</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>620800l_parts14f2.png</key>
			<dict>
				<key>width</key>
				<integer>797</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>2400</integer>
				<key>originalHeight</key>
				<integer>2480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1388</integer>
				<key>offsetX</key>
				<real>-213.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>620800l_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>1617</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>1792</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1537</integer>
				<key>offsetX</key>
				<real>-81.5</real>
				<key>offsetY</key>
				<real>-133</real>
			</dict>
			<key>620800l_parts01a_cut.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1160</integer>
				<key>y</key>
				<integer>1072</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>67.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_620800_l1.png</string>
			<key>realTextureFileName</key>
			<string>mini_620800_l1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>