<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>170109r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>170109r_parts09a_attackS0.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>170109r_parts09a_attackS1.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>170109r_parts09a_attackS2.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>261</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>170109r_parts01a_wait.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>170109r_parts00a_app0.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-75.5</real>
			</dict>
			<key>170109r_parts00a_app1.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-53</real>
			</dict>
			<key>170109r_parts02a_stanceCon.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>266</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>170109r_parts03a_activate.png</key>
			<dict>
				<key>width</key>
				<integer>248</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>455</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>170109r_parts04a_stance.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>377</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>170109r_parts05a_reaction.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>273</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>738</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-28.5</real>
			</dict>
			<key>170109r_parts06a_damage.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>170109r_parts07a_flatline.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>643</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>170109r_parts08a_dead0.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>268</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-110.5</real>
			</dict>
			<key>170109r_parts08a_dead1.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>399</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>170109r_parts10a_attackV0.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>653</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-57.5</real>
			</dict>
			<key>170109r_parts10a_attackV1.png</key>
			<dict>
				<key>width</key>
				<integer>465</integer>
				<key>height</key>
				<integer>602</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>993</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>170109r_parts11a_attackH0.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>253</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>653</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>170109r_parts11a_attackH1.png</key>
			<dict>
				<key>width</key>
				<integer>270</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1460</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_170109_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_170109_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>