<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>105300dr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>20</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>105300dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>219</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>327</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>105300dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_Dfree01.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>489</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>501</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_Dfree02.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>333</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>358</integer>
				<key>y</key>
				<integer>109</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>105300dr_parts_Dfree03.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>105300dr_parts_Dfree05.png</key>
			<dict>
				<key>width</key>
				<integer>1082</integer>
				<key>height</key>
				<integer>843</integer>
				<key>originalWidth</key>
				<integer>1200</integer>
				<key>originalHeight</key>
				<integer>1200</integer>
				<key>x</key>
				<integer>543</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_Da01L.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>-52.5</real>
				<key>offsetY</key>
				<real>110</real>
			</dict>
			<key>105300dr_parts_Da02L.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>112</real>
				<key>offsetY</key>
				<real>146</real>
			</dict>
			<key>105300dr_parts_Da03L.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>141.5</real>
			</dict>
			<key>105300dr_parts_Da04L.png</key>
			<dict>
				<key>width</key>
				<integer>636</integer>
				<key>height</key>
				<integer>331</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-91.5</real>
			</dict>
			<key>105300dr_parts_Da05L.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>435</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>105300dr_parts_Db01L.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>105300dr_parts_Db02L.png</key>
			<dict>
				<key>width</key>
				<integer>330</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>654</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>105300dr_parts_Db03L.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>-121</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_Db04L.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>-114</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>105300dr_parts_Dc01.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>865</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1176</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>105300dr_parts_Dd01L.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>294.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>105300dr_parts_Dd02L.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>66.5</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>105300dr_parts_Dd03L.png</key>
			<dict>
				<key>width</key>
				<integer>389</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>637</integer>
				<key>y</key>
				<integer>936</integer>
				<key>offsetX</key>
				<real>-233.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>105300dr_parts_De01R.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>57.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>105300dr_parts_De02R.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>61</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>105300dr_parts_De03R.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>105300dr_parts_De04R.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>44</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>105300dr_parts_De05R.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>639</integer>
				<key>offsetX</key>
				<real>69</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>105300dr_parts_De06R.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1176</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>105300dr_parts_Df01R.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>37</real>
				<key>offsetY</key>
				<real>261.5</real>
			</dict>
			<key>105300dr_parts_Df02L.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1311</integer>
				<key>offsetX</key>
				<real>41</real>
				<key>offsetY</key>
				<real>256.5</real>
			</dict>
			<key>105300dr_parts_Df03L.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>560</integer>
				<key>offsetX</key>
				<real>101.5</real>
				<key>offsetY</key>
				<real>191</real>
			</dict>
			<key>105300dr_parts_Df04L.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>105300dr_parts_Df05L.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>1133</integer>
				<key>offsetX</key>
				<real>143</real>
				<key>offsetY</key>
				<real>74</real>
			</dict>
			<key>105300dr_parts_Df06R.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>105300dr_parts_Df07L.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1439</integer>
				<key>offsetX</key>
				<real>98.5</real>
				<key>offsetY</key>
				<real>-71</real>
			</dict>
			<key>105300dr_parts_Df08L.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>889</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>173</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>105300dr_parts_Df09R.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1022</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>-159.5</real>
				<key>offsetY</key>
				<real>-101.5</real>
			</dict>
			<key>105300dr_parts_Df10L.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>1238</integer>
				<key>offsetX</key>
				<real>135</real>
				<key>offsetY</key>
				<real>-169.5</real>
			</dict>
			<key>105300dr_parts_Df11L.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>1867</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>183</real>
				<key>offsetY</key>
				<real>-122</real>
			</dict>
			<key>105300dr_parts_Df12R.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>799</integer>
				<key>y</key>
				<integer>1133</integer>
				<key>offsetX</key>
				<real>-143.5</real>
				<key>offsetY</key>
				<real>-195.5</real>
			</dict>
			<key>105300dr_parts_Dg01.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1532</integer>
				<key>offsetX</key>
				<real>164</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>105300dr_parts_Dg02.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>906</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>-113</real>
			</dict>
			<key>105300dr_parts_Dg03.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-177.5</real>
				<key>offsetY</key>
				<real>-102</real>
			</dict>
			<key>105300dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>967</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>105300dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>427</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>105300dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>105300dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1027</integer>
				<key>y</key>
				<integer>1046</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>105300dr_parts03_hair2L.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1969</integer>
				<key>y</key>
				<integer>69</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-44</real>
			</dict>
			<key>105300dr_parts03_hair2R.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>462</integer>
				<key>offsetX</key>
				<real>-42.5</real>
				<key>offsetY</key>
				<real>-85</real>
			</dict>
			<key>105300dr_parts01a_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>433</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>105300dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>105300dr_parts02aL.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>105300dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>547</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>105300dr_parts04d_himo.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>105300dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>658</integer>
				<key>y</key>
				<integer>1358</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>105300dr_parts02aR.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>105300dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>1358</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>105300dr_parts04d_sktL.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1880</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>105300dr_parts04d_sktR.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>164</integer>
				<key>offsetX</key>
				<real>-50.5</real>
				<key>offsetY</key>
				<real>16.5</real>
			</dict>
			<key>105300dr_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>18.5</real>
			</dict>
			<key>105300dr_parts04f_sktL.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>1532</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>105300dr_parts04f_sktR.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>905</integer>
				<key>y</key>
				<integer>1205</integer>
				<key>offsetX</key>
				<real>-65.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>105300dr_parts04g_skt.png</key>
			<dict>
				<key>width</key>
				<integer>226</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>1358</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>105300dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>435</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>105300dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1211</integer>
				<key>y</key>
				<integer>976</integer>
				<key>offsetX</key>
				<real>45.5</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>105300dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>1802</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>105300dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>691</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>105300dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1782</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>-59</real>
			</dict>
			<key>105300dr_parts04h_rbn.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>271</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>105300dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1975</integer>
				<key>y</key>
				<integer>202</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>105300dr_parts04i_cloakL.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1366</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>56</real>
				<key>offsetY</key>
				<real>64</real>
			</dict>
			<key>105300dr_parts04i_cloakR.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1805</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>-57</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>105300dr_parts03_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>614</integer>
				<key>offsetX</key>
				<real>64.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>105300dr_parts03_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>1635</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>105300dr_parts_Dh01.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1295</integer>
				<key>y</key>
				<integer>976</integer>
				<key>offsetX</key>
				<real>-87.5</real>
				<key>offsetY</key>
				<real>-530.5</real>
			</dict>
			<key>105300dr_parts_Dh02.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>1782</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>-422.5</real>
			</dict>
			<key>105300dr_parts_Dh03.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1692</integer>
				<key>y</key>
				<integer>614</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-254</real>
			</dict>
			<key>105300dr_parts_Dh04.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1211</integer>
				<key>y</key>
				<integer>1076</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-57</real>
			</dict>
			<key>105300dr_parts_Dh05.png</key>
			<dict>
				<key>width</key>
				<integer>306</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1035</integer>
				<key>y</key>
				<integer>1313</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>174</real>
			</dict>
			<key>105300dr_parts_Dh06.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1803</integer>
				<key>y</key>
				<integer>662</integer>
				<key>offsetX</key>
				<real>100</real>
				<key>offsetY</key>
				<real>428.5</real>
			</dict>
			<key>105300dr_parts_Di01.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>763</integer>
				<key>y</key>
				<integer>1488</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>182</real>
			</dict>
			<key>105300dr_parts_Di02.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1473</integer>
				<key>y</key>
				<integer>844</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>47.5</real>
			</dict>
			<key>105300dr_parts_Di03.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>1517</integer>
				<key>y</key>
				<integer>964</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-69</real>
			</dict>
			<key>105300dr_parts_Di04.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>1586</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-176</real>
			</dict>
			<key>105300dr_parts_Dj01R.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>1975</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>81.5</real>
				<key>offsetY</key>
				<real>120</real>
			</dict>
			<key>105300dr_parts_Dj02R.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>2013</integer>
				<key>y</key>
				<integer>289</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>142.5</real>
			</dict>
			<key>105300dr_parts_Dj03R.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>861</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>-60.5</real>
				<key>offsetY</key>
				<real>154.5</real>
			</dict>
			<key>105300dr_parts_Dj04R.png</key>
			<dict>
				<key>width</key>
				<integer>437</integer>
				<key>height</key>
				<integer>343</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>1495</integer>
				<key>y</key>
				<integer>1076</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-105.5</real>
			</dict>
			<key>105300dr_parts_Dj05R.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>394</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>2013</integer>
				<key>y</key>
				<integer>555</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>105300dr_parts_Dk01R.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>1685</integer>
				<key>offsetX</key>
				<real>133.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>105300dr_parts_Dk02R.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>1968</integer>
				<key>offsetX</key>
				<real>-77</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>105300dr_parts_Dk03R.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>1891</integer>
				<key>offsetX</key>
				<real>-207.5</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>105300dr_parts_Dl01L.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>105300dr_parts_Dm01R.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>315</integer>
				<key>y</key>
				<integer>225</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>105300dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>600</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>1342</integer>
				<key>y</key>
				<integer>1420</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_105300_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_105300_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>