<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>301400dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>301400dr_parts_txt10.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301400dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301400dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301400dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>278</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>301400dr_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>204</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301400dr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>107</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>301400dr_parts_D19.png</key>
			<dict>
				<key>width</key>
				<integer>1051</integer>
				<key>height</key>
				<integer>451</integer>
				<key>originalWidth</key>
				<integer>1250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>247</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>301400dr_parts_D20.png</key>
			<dict>
				<key>width</key>
				<integer>1086</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>1250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>699</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>301400dr_parts_D01.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1085</integer>
				<key>offsetX</key>
				<real>-173.5</real>
				<key>offsetY</key>
				<real>-246.5</real>
			</dict>
			<key>301400dr_parts_D02.png</key>
			<dict>
				<key>width</key>
				<integer>782</integer>
				<key>height</key>
				<integer>418</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>1085</integer>
				<key>offsetX</key>
				<real>-46</real>
				<key>offsetY</key>
				<real>-82</real>
			</dict>
			<key>301400dr_parts_D02b.png</key>
			<dict>
				<key>width</key>
				<integer>823</integer>
				<key>height</key>
				<integer>361</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1052</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-56.5</real>
				<key>offsetY</key>
				<real>-109.5</real>
			</dict>
			<key>301400dr_parts_01.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>52.5</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>301400dr_parts_02.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>50.5</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>301400dr_parts_03.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>-67.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>301400dr_parts_04.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>50</real>
				<key>offsetY</key>
				<real>62</real>
			</dict>
			<key>301400dr_parts_05.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>29</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>301400dr_parts_06.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>462</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>301400dr_parts_07.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>366</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>301400dr_parts_08.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>301400dr_parts_09.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>301400dr_parts_10.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>560</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>301400dr_parts_11.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-55.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>301400dr_parts_12.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>754</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>301400dr_parts_13.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>426</integer>
				<key>y</key>
				<integer>37</integer>
				<key>offsetX</key>
				<real>-82.5</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>301400dr_parts_14.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>560</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-81.5</real>
				<key>offsetY</key>
				<real>53.5</real>
			</dict>
			<key>301400dr_parts_D03.png</key>
			<dict>
				<key>width</key>
				<integer>379</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1052</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>301400dr_parts_D04a.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>364</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>301400dr_parts_D04b.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>452</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1504</integer>
				<key>offsetX</key>
				<real>264.5</real>
				<key>offsetY</key>
				<real>114</real>
			</dict>
			<key>301400dr_parts_D04c.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>538</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>1504</integer>
				<key>offsetX</key>
				<real>359</real>
				<key>offsetY</key>
				<real>226</real>
			</dict>
			<key>301400dr_parts_D05a.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1287</integer>
				<key>offsetX</key>
				<real>-513.5</real>
				<key>offsetY</key>
				<real>179.5</real>
			</dict>
			<key>301400dr_parts_D05b.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>-157.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>301400dr_parts_D06.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1432</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>-164</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>301400dr_parts_D07a.png</key>
			<dict>
				<key>width</key>
				<integer>421</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>403.5</real>
				<key>offsetY</key>
				<real>-122.5</real>
			</dict>
			<key>301400dr_parts_D07b.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>1504</integer>
				<key>offsetX</key>
				<real>566.5</real>
				<key>offsetY</key>
				<real>-299</real>
			</dict>
			<key>301400dr_parts_D07c.png</key>
			<dict>
				<key>width</key>
				<integer>244</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1600</integer>
				<key>y</key>
				<integer>362</integer>
				<key>offsetX</key>
				<real>764</real>
				<key>offsetY</key>
				<real>-377</real>
			</dict>
			<key>301400dr_parts_D08a.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1256</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>234.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>301400dr_parts_D08b.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>423.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>301400dr_parts_D09a.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1497</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>185</real>
				<key>offsetY</key>
				<real>79.5</real>
			</dict>
			<key>301400dr_parts_D09b.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>657</integer>
				<key>y</key>
				<integer>1504</integer>
				<key>offsetX</key>
				<real>417</real>
				<key>offsetY</key>
				<real>69.5</real>
			</dict>
			<key>301400dr_parts_D09c.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>1126</integer>
				<key>offsetX</key>
				<real>226</real>
				<key>offsetY</key>
				<real>99</real>
			</dict>
			<key>301400dr_parts_D09d.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>1266</integer>
				<key>offsetX</key>
				<real>334.5</real>
				<key>offsetY</key>
				<real>125.5</real>
			</dict>
			<key>301400dr_parts_D10a.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>887</integer>
				<key>y</key>
				<integer>1361</integer>
				<key>offsetX</key>
				<real>313</real>
				<key>offsetY</key>
				<real>-60.5</real>
			</dict>
			<key>301400dr_parts_D10b.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>1853</integer>
				<key>offsetX</key>
				<real>286.5</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>301400dr_parts_D11a.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1876</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-840</real>
				<key>offsetY</key>
				<real>-427</real>
			</dict>
			<key>301400dr_parts_D11b.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1876</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>-757.5</real>
				<key>offsetY</key>
				<real>-182.5</real>
			</dict>
			<key>301400dr_parts_D11c.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1845</integer>
				<key>y</key>
				<integer>373</integer>
				<key>offsetX</key>
				<real>-770</real>
				<key>offsetY</key>
				<real>-343.5</real>
			</dict>
			<key>301400dr_parts_D11d.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1509</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>-606.5</real>
				<key>offsetY</key>
				<real>-183.5</real>
			</dict>
			<key>301400dr_parts_D11e.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>657</integer>
				<key>y</key>
				<integer>1619</integer>
				<key>offsetX</key>
				<real>-501.5</real>
				<key>offsetY</key>
				<real>-101.5</real>
			</dict>
			<key>301400dr_parts_D12a.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1173</integer>
				<key>y</key>
				<integer>1126</integer>
				<key>offsetX</key>
				<real>-429</real>
				<key>offsetY</key>
				<real>76</real>
			</dict>
			<key>301400dr_parts_D12b.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>577</integer>
				<key>offsetX</key>
				<real>-646.5</real>
				<key>offsetY</key>
				<real>141</real>
			</dict>
			<key>301400dr_parts_D12c.png</key>
			<dict>
				<key>width</key>
				<integer>293</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>1925</integer>
				<key>offsetX</key>
				<real>-658.5</real>
				<key>offsetY</key>
				<real>83.5</real>
			</dict>
			<key>301400dr_parts_D13a.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1509</integer>
				<key>y</key>
				<integer>876</integer>
				<key>offsetX</key>
				<real>-239.5</real>
				<key>offsetY</key>
				<real>82</real>
			</dict>
			<key>301400dr_parts_D13b.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1703</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>-297.5</real>
				<key>offsetY</key>
				<real>78</real>
			</dict>
			<key>301400dr_parts_D13c.png</key>
			<dict>
				<key>width</key>
				<integer>368</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>949</integer>
				<key>y</key>
				<integer>1448</integer>
				<key>offsetX</key>
				<real>-307.5</real>
				<key>offsetY</key>
				<real>81.5</real>
			</dict>
			<key>301400dr_parts_D14a.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1256</integer>
				<key>y</key>
				<integer>656</integer>
				<key>offsetX</key>
				<real>-285.5</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>301400dr_parts_D14b.png</key>
			<dict>
				<key>width</key>
				<integer>335</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1509</integer>
				<key>y</key>
				<integer>1004</integer>
				<key>offsetX</key>
				<real>-356</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>301400dr_parts_D14c.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1428</integer>
				<key>y</key>
				<integer>1126</integer>
				<key>offsetX</key>
				<real>-346.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>301400dr_parts_D15.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>1629</integer>
				<key>offsetX</key>
				<real>-350.5</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>301400dr_parts_D16a.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-295.5</real>
				<key>offsetY</key>
				<real>-323</real>
			</dict>
			<key>301400dr_parts_D16b.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>2250</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>991</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>121</real>
				<key>offsetY</key>
				<real>-331.5</real>
			</dict>
			<key>301400dr_parts_D16c.png</key>
			<dict>
				<key>width</key>
				<integer>221</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1720</integer>
				<key>y</key>
				<integer>820</integer>
				<key>offsetX</key>
				<real>-43</real>
				<key>offsetY</key>
				<real>-213</real>
			</dict>
			<key>301400dr_parts_D17.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>1835</integer>
				<key>offsetX</key>
				<real>-165.5</real>
				<key>offsetY</key>
				<real>-161.5</real>
			</dict>
			<key>301400dr_parts_D18.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>1125</integer>
				<key>originalHeight</key>
				<integer>625</integer>
				<key>x</key>
				<integer>1428</integer>
				<key>y</key>
				<integer>1233</integer>
				<key>offsetX</key>
				<real>74.5</real>
				<key>offsetY</key>
				<real>-161.5</real>
			</dict>
			<key>301400dr_parts_bg01.png</key>
			<dict>
				<key>width</key>
				<integer>550</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>550</integer>
				<key>originalHeight</key>
				<integer>413</integer>
				<key>x</key>
				<integer>1318</integer>
				<key>y</key>
				<integer>1378</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_301400_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_301400_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>