<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>302200dr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>302200dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>11</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>302200dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>302200dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>302200dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>96</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_eyeA01.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>217</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeA02.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeA03.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>495</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeB01.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_eyeC01.png</key>
			<dict>
				<key>width</key>
				<integer>207</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_eyeE01.png</key>
			<dict>
				<key>width</key>
				<integer>227</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>658</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_eyeD01.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeD02.png</key>
			<dict>
				<key>width</key>
				<integer>202</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>440</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeD03.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>643</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>302200dr_partsD_eyeF01.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_Feye02.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_Feye03.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>302200dr_partsD_Z01.png</key>
			<dict>
				<key>width</key>
				<integer>1647</integer>
				<key>height</key>
				<integer>388</integer>
				<key>originalWidth</key>
				<integer>2000</integer>
				<key>originalHeight</key>
				<integer>1000</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>562</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-253</real>
			</dict>
			<key>302200dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>288</real>
			</dict>
			<key>302200dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>314</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>928</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>455.5</real>
			</dict>
			<key>302200dr_parts03_hair2_momiL.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1243</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>67.5</real>
				<key>offsetY</key>
				<real>284.5</real>
			</dict>
			<key>302200dr_parts03_hair2_momiR.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>886</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>-142.5</real>
				<key>offsetY</key>
				<real>283.5</real>
			</dict>
			<key>302200dr_parts01a_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>429</integer>
				<key>offsetX</key>
				<real>59.5</real>
				<key>offsetY</key>
				<real>164.5</real>
			</dict>
			<key>302200dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>-54</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>302200dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>958</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>37.5</real>
			</dict>
			<key>302200dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>141</real>
			</dict>
			<key>302200dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1406</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>365.5</real>
			</dict>
			<key>302200dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-85.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>302200dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1069</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>-72</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>302200dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>249</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1142</integer>
				<key>y</key>
				<integer>307</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>163.5</real>
			</dict>
			<key>302200dr_parts01b_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>625</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>180.5</real>
			</dict>
			<key>302200dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>148</real>
			</dict>
			<key>302200dr_parts04a_ex1L.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1311</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>61.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>302200dr_parts04a_ex1R.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>931</integer>
				<key>offsetX</key>
				<real>-49.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>302200dr_parts04a_sktL.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1692</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>115.5</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>302200dr_parts04a_sktR.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>-60.5</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>302200dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>225</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1463</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-153.5</real>
			</dict>
			<key>302200dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1546</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>-106</real>
				<key>offsetY</key>
				<real>-144.5</real>
			</dict>
			<key>302200dr_parts04c1.png</key>
			<dict>
				<key>width</key>
				<integer>454</integer>
				<key>height</key>
				<integer>244</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1005</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>-74</real>
			</dict>
			<key>302200dr_parts04c2R.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-94</real>
			</dict>
			<key>302200dr_parts04c2L.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1419</integer>
				<key>offsetX</key>
				<real>150</real>
				<key>offsetY</key>
				<real>-102</real>
			</dict>
			<key>302200dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>422.5</real>
			</dict>
			<key>302200dr_parts03_hair3L.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>352</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1612</integer>
				<key>offsetX</key>
				<real>106</real>
				<key>offsetY</key>
				<real>321</real>
			</dict>
			<key>302200dr_parts03_hair3R.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>336</integer>
				<key>originalWidth</key>
				<integer>1000</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>1419</integer>
				<key>offsetX</key>
				<real>-91</real>
				<key>offsetY</key>
				<real>320</real>
			</dict>
			<key>302200dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>450</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>790</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_302200_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_302200_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>