<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>620800l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>620800l_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>56.5</real>
				<key>offsetY</key>
				<real>-78</real>
			</dict>
			<key>620800l_parts21a.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>113.5</real>
				<key>offsetY</key>
				<real>-79.5</real>
			</dict>
			<key>620800l_parts20b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>-76.5</real>
				<key>offsetY</key>
				<real>72.5</real>
			</dict>
			<key>620800l_parts21b.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-94.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>620800l_parts23a.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>503</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>47.5</real>
			</dict>
			<key>620800l_parts23b.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>326</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-160</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>620800l_parts22b.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>-65.5</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>620800l_parts24a.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>-95.5</real>
			</dict>
			<key>620800l_parts24b.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>255</integer>
				<key>offsetX</key>
				<real>-115</real>
				<key>offsetY</key>
				<real>-278</real>
			</dict>
			<key>620800l_parts24c.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>-79</real>
				<key>offsetY</key>
				<real>-206</real>
			</dict>
			<key>620800l_parts25a.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>94.5</real>
				<key>offsetY</key>
				<real>114</real>
			</dict>
			<key>620800l_parts25b.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>546</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>105.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>620800l_parts22a.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>129.5</real>
				<key>offsetY</key>
				<real>-104</real>
			</dict>
			<key>620800l_parts25d.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>117</real>
				<key>offsetY</key>
				<real>87.5</real>
			</dict>
			<key>620800l_parts25c.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>126.5</real>
				<key>offsetY</key>
				<real>257.5</real>
			</dict>
			<key>620800l_parts26a.png</key>
			<dict>
				<key>width</key>
				<integer>309</integer>
				<key>height</key>
				<integer>384</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>750</integer>
				<key>x</key>
				<integer>913</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-87.5</real>
				<key>offsetY</key>
				<real>148</real>
			</dict>
			<key>620800l_parts10a.png</key>
			<dict>
				<key>width</key>
				<integer>376</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>525</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>620800l_parts11a.png</key>
			<dict>
				<key>width</key>
				<integer>723</integer>
				<key>height</key>
				<integer>636</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>752</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>620800l_parts11b.png</key>
			<dict>
				<key>width</key>
				<integer>402</integer>
				<key>height</key>
				<integer>402</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1390</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>620800l_parts11c.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>477</integer>
				<key>originalWidth</key>
				<integer>960</integer>
				<key>originalHeight</key>
				<integer>960</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>702</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>620800l_parts12a.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>449</integer>
				<key>originalWidth</key>
				<integer>790</integer>
				<key>originalHeight</key>
				<integer>689</integer>
				<key>x</key>
				<integer>1602</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-165</real>
				<key>offsetY</key>
				<real>-95</real>
			</dict>
			<key>620800l_parts12b.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>790</integer>
				<key>originalHeight</key>
				<integer>689</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-241.5</real>
			</dict>
			<key>620800l_parts12c.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>302</integer>
				<key>originalWidth</key>
				<integer>790</integer>
				<key>originalHeight</key>
				<integer>689</integer>
				<key>x</key>
				<integer>913</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>195</real>
				<key>offsetY</key>
				<real>-168.5</real>
			</dict>
			<key>620800l_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>1203</integer>
				<key>originalWidth</key>
				<integer>2480</integer>
				<key>originalHeight</key>
				<integer>2400</integer>
				<key>x</key>
				<integer>1786</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>80.5</real>
			</dict>
			<key>620800l_parts14a2.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>269</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1093</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-439.5</real>
			</dict>
			<key>620800l_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>1303</integer>
				<key>originalWidth</key>
				<integer>2480</integer>
				<key>originalHeight</key>
				<integer>2400</integer>
				<key>x</key>
				<integer>1269</integer>
				<key>y</key>
				<integer>409</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>145.5</real>
			</dict>
			<key>620800l_parts14b2.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>278</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>1390</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-435</real>
			</dict>
			<key>620800l_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>1417</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>2400</integer>
				<key>originalHeight</key>
				<integer>2480</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1794</integer>
				<key>offsetX</key>
				<real>209.5</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>620800l_parts14c2.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>409</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-433.5</real>
			</dict>
			<key>620800l_parts14d.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>1390</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-432.5</real>
			</dict>
			<key>620800l_parts14e.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>725</integer>
				<key>y</key>
				<integer>1181</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-430</real>
			</dict>
			<key>620800l_parts14f.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>1550</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-453</real>
			</dict>
			<key>620800l_parts14g.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>665</integer>
				<key>originalWidth</key>
				<integer>2480</integer>
				<key>originalHeight</key>
				<integer>2400</integer>
				<key>x</key>
				<integer>1586</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-583.5</real>
			</dict>
			<key>620800l_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>1053</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>1181</integer>
				<key>offsetX</key>
				<real>-317.5</real>
				<key>offsetY</key>
				<real>-169</real>
			</dict>
			<key>620800l_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>228</integer>
				<key>originalWidth</key>
				<integer>1053</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>505</integer>
				<key>offsetX</key>
				<real>51.5</real>
				<key>offsetY</key>
				<real>-162</real>
			</dict>
			<key>620800l_parts15c.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>1053</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>589</integer>
				<key>y</key>
				<integer>1390</integer>
				<key>offsetX</key>
				<real>188.5</real>
				<key>offsetY</key>
				<real>-141</real>
			</dict>
			<key>620800l_parts15d.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>342</integer>
				<key>originalWidth</key>
				<integer>1053</integer>
				<key>originalHeight</key>
				<integer>586</integer>
				<key>x</key>
				<integer>804</integer>
				<key>y</key>
				<integer>1397</integer>
				<key>offsetX</key>
				<real>381</real>
				<key>offsetY</key>
				<real>-105</real>
			</dict>
			<key>620800l_parts15e.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>1053</integer>
				<key>originalHeight</key>
				<integer>336</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>692</integer>
				<key>offsetX</key>
				<real>405</real>
				<key>offsetY</key>
				<real>-51.5</real>
			</dict>
			<key>620800l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>1670</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>620800l_parts00b_cut.png</key>
			<dict>
				<key>width</key>
				<integer>277</integer>
				<key>height</key>
				<integer>291</integer>
				<key>originalWidth</key>
				<integer>1600</integer>
				<key>originalHeight</key>
				<integer>1000</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>1397</integer>
				<key>offsetX</key>
				<real>-310.5</real>
				<key>offsetY</key>
				<real>-75.5</real>
			</dict>
			<key>620800l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1181</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>620800l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>493</integer>
				<key>y</key>
				<integer>1675</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>620800l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>1118</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>620800l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>375</integer>
				<key>originalHeight</key>
				<integer>585</integer>
				<key>x</key>
				<integer>1482</integer>
				<key>y</key>
				<integer>1251</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>620800l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>348</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>328</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>620800l_parts05b_cut.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>344</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>1707</integer>
				<key>y</key>
				<integer>451</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>620800l_parts05c_cut.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>330</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>693</integer>
				<key>y</key>
				<integer>1455</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>620800l_parts05d_cut.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>1707</integer>
				<key>y</key>
				<integer>797</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>620800l_parts05e.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>406</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>1755</integer>
				<key>y</key>
				<integer>1205</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>620800l_parts05f.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>1803</integer>
				<key>y</key>
				<integer>1205</integer>
				<key>offsetX</key>
				<real>22.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>620800l_parts05g.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>304</integer>
				<key>originalWidth</key>
				<integer>708</integer>
				<key>originalHeight</key>
				<integer>519</integer>
				<key>x</key>
				<integer>1184</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>620800l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>203</integer>
				<key>offsetX</key>
				<real>-49</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>620800l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>1455</integer>
				<key>offsetX</key>
				<real>39</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>620800l_parts07a_cut.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>363</integer>
				<key>originalWidth</key>
				<integer>365</integer>
				<key>originalHeight</key>
				<integer>675</integer>
				<key>x</key>
				<integer>1848</integer>
				<key>y</key>
				<integer>1205</integer>
				<key>offsetX</key>
				<real>61</real>
				<key>offsetY</key>
				<real>123</real>
			</dict>
			<key>620800l_parts07b_cut.png</key>
			<dict>
				<key>width</key>
				<integer>505</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>725</integer>
				<key>originalHeight</key>
				<integer>435</integer>
				<key>x</key>
				<integer>1419</integer>
				<key>y</key>
				<integer>1757</integer>
				<key>offsetX</key>
				<real>-74</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>620800l_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_620800_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_620800_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>