<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>170100dr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>170100dr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>170100dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>9</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>170100dr_parts_BG2.png</key>
			<dict>
				<key>width</key>
				<integer>1202</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>1248</integer>
				<key>originalHeight</key>
				<integer>747</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>11</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-205</real>
			</dict>
			<key>170100dr_parts_BG3b.png</key>
			<dict>
				<key>width</key>
				<integer>266</integer>
				<key>height</key>
				<integer>428</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>170100dr_parts99_wep.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>308</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>267</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>149</real>
				<key>offsetY</key>
				<real>152</real>
			</dict>
			<key>170100dr_parts_I.png</key>
			<dict>
				<key>width</key>
				<integer>1066</integer>
				<key>height</key>
				<integer>1173</integer>
				<key>originalWidth</key>
				<integer>1500</integer>
				<key>originalHeight</key>
				<integer>1250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>748</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>170100dr_parts_C.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>393</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>514</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-89.5</real>
			</dict>
			<key>170100dr_parts_E.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>398</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>708</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-87</real>
			</dict>
			<key>170100dr_parts_F.png</key>
			<dict>
				<key>width</key>
				<integer>290</integer>
				<key>height</key>
				<integer>346</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-70</real>
			</dict>
			<key>170100dr_parts_G.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>390</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>932</integer>
				<key>y</key>
				<integer>319</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-91</real>
			</dict>
			<key>170100dr_parts_H.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>381</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1494</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-83.5</real>
			</dict>
			<key>170100dr_parts_D.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>393</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1127</integer>
				<key>y</key>
				<integer>347</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-89.5</real>
			</dict>
			<key>170100dr_parts_J.png</key>
			<dict>
				<key>width</key>
				<integer>272</integer>
				<key>height</key>
				<integer>546</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1705</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>170100dr_parts_J_hata.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1067</integer>
				<key>y</key>
				<integer>741</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>200</real>
			</dict>
			<key>170100dr_parts_K.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>368</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1067</integer>
				<key>y</key>
				<integer>956</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>-86</real>
			</dict>
			<key>170100dr_parts_L.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>352</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1321</integer>
				<key>y</key>
				<integer>547</integer>
				<key>offsetX</key>
				<real>43</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>170100dr_parts_M.png</key>
			<dict>
				<key>width</key>
				<integer>477</integer>
				<key>height</key>
				<integer>464</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1067</integer>
				<key>y</key>
				<integer>1325</integer>
				<key>offsetX</key>
				<real>34.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>170100dr_parts_N.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>337</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1622</integer>
				<key>y</key>
				<integer>547</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>170100dr_parts_O.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>369</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1622</integer>
				<key>y</key>
				<integer>885</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>170100dr_parts_P.png</key>
			<dict>
				<key>width</key>
				<integer>364</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>1255</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-50</real>
			</dict>
			<key>170100dr_parts_Q.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>1545</integer>
				<key>y</key>
				<integer>1568</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-83.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_170100_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_170100_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>