<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>102251r_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>102251r_parts99a01.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102251r_parts99a03.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts99a02.png</key>
			<dict>
				<key>width</key>
				<integer>13</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>52</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>102251r_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102251r_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102251r_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>102251r_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>102251r_parts02yf.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>102251r_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>41</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102251r_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>73</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102251r_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>102251r_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>102251r_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>102251r_parts02a1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>102251r_parts02b1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>102251r_parts02e1.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>71</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>102251r_parts02f1.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>26</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>20</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102251r_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102251r_parts02l.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>174</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102251r_parts02yr.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102251r_parts02z.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>121</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102251r_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102251r_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>71</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102251r_parts03ex01.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>102251r_parts13ex01.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>102251r_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>102251r_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>48</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>102251r_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>102251r_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>102251r_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>102251r_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>205</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>102251r_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>205</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>102251r_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>212</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>102251r_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>96</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>102251r_parts03g.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>102251r_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>-23.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>102251r_parts03_hair00ex.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>228</integer>
				<key>y</key>
				<integer>39</integer>
				<key>offsetX</key>
				<real>35.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>102251r_parts13_hair00ex.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>80</integer>
				<key>offsetX</key>
				<real>16</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>102251r_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>102251r_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>111</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>102251r_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>102251r_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>102251r_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102251r_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>102251r_parts04cex01.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>102251r_parts14cex01.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>102251r_parts04cex02.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>102251r_parts14cex02.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>102251r_parts04csk0.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>97</integer>
				<key>y</key>
				<integer>216</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>102251r_parts14csk0.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>203</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>102251r_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>185</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>102251r_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>376</integer>
				<key>y</key>
				<integer>137</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>429</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102251r_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>102251r_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>102251r_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>154</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>102251r_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>102251r_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>427</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>102251r_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>254</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>63</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102251r_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>102251r_parts04aex01.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>102251r_parts14aex01.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>102251r_parts04aex02.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>30</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>102251r_parts14aex02.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>102251r_parts04aex03.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>84</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>102251r_parts14aex03.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>414</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>102251r_parts03_hair02.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>109</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>102251r_parts13_hair02.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>256</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>102251r_parts03_hair01.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>417</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>102251r_parts13_hair01.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>35</real>
				<key>offsetY</key>
				<real>47.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_102251_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_102251_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>