<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>622300l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>622300l_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>622300l_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-101.5</real>
				<key>offsetY</key>
				<real>67</real>
			</dict>
			<key>622300l_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>125.5</real>
			</dict>
			<key>622300l_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>345</integer>
				<key>originalHeight</key>
				<integer>460</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>129</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>622300l_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>194</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-42.5</real>
			</dict>
			<key>622300l_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>622300l_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>305</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>622300l_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>622300l_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>622300l_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>752</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>622300l_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>-33.5</real>
			</dict>
			<key>622300l_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>212</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>335</integer>
				<key>x</key>
				<integer>868</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>622300l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>500</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>622300l_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>194</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>622300l_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>33</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>622300l_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>251</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>681</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>622300l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>91</real>
				<key>offsetY</key>
				<real>20.5</real>
			</dict>
			<key>622300l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>86.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>622300l_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>90</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>622300l_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>158</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-37.5</real>
			</dict>
			<key>622300l_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>490</integer>
				<key>y</key>
				<integer>360</integer>
				<key>offsetX</key>
				<real>-59.5</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>622300l_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>622300l_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>600</integer>
				<key>offsetX</key>
				<real>-34.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>622300l_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>230</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>183</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>622300l_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>139</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>622300l_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>622300l_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>225</integer>
				<key>x</key>
				<integer>346</integer>
				<key>y</key>
				<integer>600</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>622300l_parts07a.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>52</real>
			</dict>
			<key>622300l_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>-88.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>622300l_parts07c.png</key>
			<dict>
				<key>width</key>
				<integer>209</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>749</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>622300l_parts07d.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>405</integer>
				<key>offsetX</key>
				<real>-86</real>
				<key>offsetY</key>
				<real>-80</real>
			</dict>
			<key>622300l_parts07e.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>275</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>346</integer>
				<key>y</key>
				<integer>675</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>622300l_parts07f.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>449</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>-127.5</real>
			</dict>
			<key>622300l_parts04f.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>280</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>96.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>622300l_parts08a.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>609</integer>
				<key>y</key>
				<integer>388</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-25.5</real>
			</dict>
			<key>622300l_parts08b.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>622300l_parts08c.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>180</integer>
				<key>originalHeight</key>
				<integer>180</integer>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>453</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>622300l_parts09a.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>368</integer>
				<key>originalHeight</key>
				<integer>368</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>660</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_622300_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_622300_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>