<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>170100dr_parts_R.png</key>
			<dict>
				<key>width</key>
				<integer>459</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-144.5</real>
			</dict>
			<key>170100dr_parts_S.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>900</integer>
				<key>originalHeight</key>
				<integer>800</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>170100dr_parts_BG1.png</key>
			<dict>
				<key>width</key>
				<integer>1202</integer>
				<key>height</key>
				<integer>716</integer>
				<key>originalWidth</key>
				<integer>1248</integer>
				<key>originalHeight</key>
				<integer>747</integer>
				<key>x</key>
				<integer>800</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>170100dr_parts_BG3.png</key>
			<dict>
				<key>width</key>
				<integer>1202</integer>
				<key>height</key>
				<integer>716</integer>
				<key>originalWidth</key>
				<integer>1248</integer>
				<key>originalHeight</key>
				<integer>747</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>717</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_170100_d_r1.png</string>
			<key>realTextureFileName</key>
			<string>mini_170100_d_r1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>