<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>-90</real>
	<key>angleVariance</key>
	<real>0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0</real>
	<key>finishColorGreen</key>
	<real>0</real>
	<key>finishColorRed</key>
	<real>0</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>0</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0</real>
	<key>gravityy</key>
	<real>0</real>
	<key>maxParticles</key>
	<real>5</real>
	<key>maxRadius</key>
	<real>0</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>1.1</real>
	<key>particleLifespanVariance</key>
	<real>0.4</real>
	<key>radialAccelVariance</key>
	<real>200</real>
	<key>radialAcceleration</key>
	<real>-200</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>98</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>150</real>
	<key>sourcePositionVariancey</key>
	<real>150</real>
	<key>sourcePositionx</key>
	<real>375</real>
	<key>sourcePositiony</key>
	<real>667</real>
	<key>speed</key>
	<real>25</real>
	<key>speedVariance</key>
	<real>5</real>
	<key>startColorAlpha</key>
	<real>0.3</real>
	<key>startColorBlue</key>
	<real>0.8</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0.1</real>
	<key>startColorVarianceBlue</key>
	<real>0.2</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>30</real>
	<key>startParticleSizeVariance</key>
	<real>10</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>PuellaHistoria_soulvessel_ef_01.png</string>
	<key>textureImageData</key>
	<string>H4sICCan22MC/5JQkcwucG5nAOsM8HPn5ZLiYmBg4PX0cAkC0lIgzMEMJOdN2fMHSDEXO3mGcHBw3H7o/wDIYwjwCXEFCv//UEwr9LECjGr/f2z4/6nj/+fu/597/n+e+P/LtP9fpvz/Mvv/12X/v2///+Pg/5/H//888f/X1f+/7/7/8+D/39f//778//ft/38////78f/f9///fjGMglFAbbAzteg4AwMjQ0mQXzADIxMzCysbOwcnFzcPLx+/gKCQsIiomLiEpJS0jKycjKysgqKKkqqGmpa+hb2bS3BSZktD1+n9O84Mk7CQK23bAgyLDE8XxxCNiaGTMsubFQRchUVYD/I6qs5aFn1L7e73f//jr5knXSqxezGxWu/EnkgdJ13/7EKdGgMx18CeQ90bmedd23hi8kqLwkUtHAm2ok5empc63XQWWPgJKRot3XJNS7gpgaVXRSLo5R6N00bXu85YpLVskBZpuDVjl05RR0KLwsGTp09FPNdR2MhizfQxpOHKsW2193e1zfCxVPSYqaf12MqeZ99siUxGR6Ntnx//yokpPReykympZQlb5t+fXy8/fvt01Wa2KK4jj0yar/x6+O7n79el5r+2KfaeX5EVZf8uzq7+HudNSd3mp78Sq/9/+7hBtqr8xoRzQa68ucVb79+PcVjlrZsu8k9g+drrzBwqonVy4dMav9a5LtH6UrNe447kma13XRRa8wxM5GqXv4u6LfFq/Zxqi9J5Rpqrd61z0uLo2XSkr8ZLqFH055zUjpmbnojYJ4WxBM1qMGBQP6z4z+3xfY+jc16lLOj7fDJD7GNCu+Zf1uwG6VeCPz6kgcLe09XPZZ1TQhMAv9WlP8gFAAA=</string>
</dict>
</plist>
