<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dageki_01.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_02.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>283</integer>
				<key>originalWidth</key>
				<integer>426</integer>
				<key>originalHeight</key>
				<integer>283</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_03.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_04.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>852</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_05.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_06.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dageki_07.png</key>
			<dict>
				<key>width</key>
				<integer>851</integer>
				<key>height</key>
				<integer>565</integer>
				<key>originalWidth</key>
				<integer>851</integer>
				<key>originalHeight</key>
				<integer>565</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>1134</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_sr_ef_aura_01.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_sr_ef_aura_02.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>567</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_sr_ef_aura_03.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>127</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>428</integer>
				<key>y</key>
				<integer>719</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_sr_ef_bakuhatu03.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1706</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_sr_ef_fire02.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1706</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>saisei_02.png</key>
			<dict>
				<key>width</key>
				<integer>666</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>666</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>1701</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>web_regular_battle_ef_010.png</string>
			<key>realTextureFileName</key>
			<string>web_regular_battle_ef_010.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>