<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chart_film08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,141},{1237,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1237,31}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_film09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{1237,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1237,31}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_film10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{1237,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1237,31}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_film11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,237},{1237,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1237,31}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_film12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1238,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1238,140}}</string>
				<key>sourceSize</key>
				<string>{1238,146}</string>
			</dict>

			<key>chart_plate08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,357},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,318},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,465},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,465},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,396},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>film_button08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,390},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,318},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,269},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,390},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,269},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_plate08_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate09_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,269},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,367},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,416},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,512}</string>
			<key>textureFileName</key>
			<string>ui_scene0_story08_1.png</string>
			</dict>
		</dict>
</plist>