<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chart_film00_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{1239,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1239,33}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_film01_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{1239,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1239,60}}</string>
				<key>sourceSize</key>
				<string>{1239,60}</string>
			</dict>

			<key>chart_film13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,392},{1239,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1239,33}}</string>
				<key>sourceSize</key>
				<string>{1239,33}</string>
			</dict>

			<key>chart_plate00_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,426},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate01_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,465},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>chart_plate13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,426},{142,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,38}}</string>
				<key>sourceSize</key>
				<string>{142,38}</string>
			</dict>

			<key>film_button00_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,121},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button01_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1281,0},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_button13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1240,297},{82,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,120}}</string>
				<key>sourceSize</key>
				<string>{82,120}</string>
			</dict>

			<key>film_plate00_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,426},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate01_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,426},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>film_plate13_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,426},{162,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,48}}</string>
				<key>sourceSize</key>
				<string>{162,48}</string>
			</dict>

			<key>scroll_bg_another.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1280,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1280,296}}</string>
				<key>sourceSize</key>
				<string>{1280,296}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,512}</string>
			<key>textureFileName</key>
			<string>ui_scene0_story00_1.png</string>
			</dict>
		</dict>
</plist>