<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>612100l_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>612100l_parts03_hoodF.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>612100l_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-71.5</real>
			</dict>
			<key>612100l_parts03_hairL.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>-34.5</real>
			</dict>
			<key>612100l_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>251</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>612100l_parts03_hairR.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>74</real>
				<key>offsetY</key>
				<real>-36</real>
			</dict>
			<key>612100l_parts04a_acc.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-126</real>
			</dict>
			<key>612100l_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-98.5</real>
			</dict>
			<key>612100l_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>320</integer>
				<key>y</key>
				<integer>177</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-132</real>
			</dict>
			<key>612100l_parts03_hairB.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-45</real>
			</dict>
			<key>612100l_parts03_hoodB.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>345</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>612100l_partsD00a.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>206</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>612100l_partsD01aL.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>246</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-109</real>
			</dict>
			<key>612100l_partsD01bL.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>209</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>-351.5</real>
			</dict>
			<key>612100l_partsD01cL.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-213.5</real>
			</dict>
			<key>612100l_partsD01dL.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>246</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>612100l_partsD02aR.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>440</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>125.5</real>
				<key>offsetY</key>
				<real>-99.5</real>
			</dict>
			<key>612100l_partsD02bR.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>193.5</real>
				<key>offsetY</key>
				<real>-315</real>
			</dict>
			<key>612100l_partsD02cR.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>184</real>
				<key>offsetY</key>
				<real>-189.5</real>
			</dict>
			<key>612100l_partsD02dR.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>143.5</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>612100l_partsD03a.png</key>
			<dict>
				<key>width</key>
				<integer>433</integer>
				<key>height</key>
				<integer>429</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>179.5</real>
			</dict>
			<key>612100l_partsD04a.png</key>
			<dict>
				<key>width</key>
				<integer>85</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>179.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>612100l_partsD04b.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>900</integer>
				<key>x</key>
				<integer>566</integer>
				<key>y</key>
				<integer>118</integer>
				<key>offsetX</key>
				<real>165.5</real>
				<key>offsetY</key>
				<real>-43</real>
			</dict>
			<key>612100l_partsD05a.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-244.5</real>
				<key>offsetY</key>
				<real>-155</real>
			</dict>
			<key>612100l_partsD05b.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>106</integer>
				<key>offsetX</key>
				<real>-193.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>612100l_partsD05c.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>-57.5</real>
				<key>offsetY</key>
				<real>87</real>
			</dict>
			<key>612100l_partsD05d.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>108</real>
				<key>offsetY</key>
				<real>95.5</real>
			</dict>
			<key>612100l_partsD05e.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>796</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>236.5</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>612100l_partsD05f.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>452</integer>
				<key>offsetX</key>
				<real>273</real>
				<key>offsetY</key>
				<real>-69</real>
			</dict>
			<key>612100l_partsD06a.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>118</real>
			</dict>
			<key>612100l_partsD06b.png</key>
			<dict>
				<key>width</key>
				<integer>141</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>612100l_partsD06c.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>914</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>31.5</real>
				<key>offsetY</key>
				<real>-109.5</real>
			</dict>
			<key>612100l_partsD06d.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-134</real>
			</dict>
			<key>612100l_partsD06e.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-178.5</real>
			</dict>
			<key>612100l_partsD06f.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>368</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>50.5</real>
				<key>offsetY</key>
				<real>-188</real>
			</dict>
			<key>612100l_partsD06g.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>479</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>-153</real>
			</dict>
			<key>612100l_partsD07a.png</key>
			<dict>
				<key>width</key>
				<integer>404</integer>
				<key>height</key>
				<integer>379</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>700</integer>
				<key>x</key>
				<integer>576</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>172</real>
				<key>offsetY</key>
				<real>-128.5</real>
			</dict>
			<key>612100l_partsD07b.png</key>
			<dict>
				<key>width</key>
				<integer>394</integer>
				<key>height</key>
				<integer>411</integer>
				<key>originalWidth</key>
				<integer>800</integer>
				<key>originalHeight</key>
				<integer>700</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>104</real>
				<key>offsetY</key>
				<real>-85.5</real>
			</dict>
			<key>612100l_partsD07c1.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>235</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>612100l_partsD07c2.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1419</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>612100l_partsD07c3.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1155</integer>
				<key>y</key>
				<integer>412</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>612100l_partsD07c.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>17.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>612100l_partsD08a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1591</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>45.5</real>
			</dict>
			<key>612100l_partsD08b.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>937</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-38</real>
			</dict>
			<key>612100l_partsD08c.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>598</integer>
				<key>y</key>
				<integer>261</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-93</real>
			</dict>
			<key>612100l_partsD09a1.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1419</integer>
				<key>y</key>
				<integer>237</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>612100l_partsD09a2.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>271</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1727</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>612100l_partsD09a3.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>270</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>612100l_partsD09a.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>245</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>612100l_partsD09b1.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1399</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>-81</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>612100l_partsD09b2.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1618</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>-81.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>612100l_partsD09b3.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1830</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>-83</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>612100l_partsD09b.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>264</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1612</integer>
				<key>y</key>
				<integer>566</integer>
				<key>offsetX</key>
				<real>-54.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>612100l_partsD10a.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>618</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>105.5</real>
			</dict>
			<key>612100l_partsD10b.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>808</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>612100l_partsD10c.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>434</integer>
				<key>y</key>
				<integer>627</integer>
				<key>offsetX</key>
				<real>-60</real>
				<key>offsetY</key>
				<real>-116</real>
			</dict>
			<key>612100l_partsD10d.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>408</integer>
				<key>y</key>
				<integer>374</integer>
				<key>offsetX</key>
				<real>-99.5</real>
				<key>offsetY</key>
				<real>-158</real>
			</dict>
			<key>612100l_partsD10e.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>937</integer>
				<key>offsetX</key>
				<real>-70.5</real>
				<key>offsetY</key>
				<real>-182.5</real>
			</dict>
			<key>612100l_partsD10f.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>142</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>-168.5</real>
			</dict>
			<key>612100l_partsD10g.png</key>
			<dict>
				<key>width</key>
				<integer>46</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>306</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-132</real>
			</dict>
			<key>612100l_partsD11a.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1399</integer>
				<key>y</key>
				<integer>802</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>612100l_partsD11b.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>937</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>612100l_partsD11c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>914</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-95</real>
			</dict>
			<key>612100l_partsD12a.png</key>
			<dict>
				<key>width</key>
				<integer>443</integer>
				<key>height</key>
				<integer>497</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>79.5</real>
				<key>offsetY</key>
				<real>408.5</real>
			</dict>
			<key>612100l_partsD12b.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>-108</real>
				<key>offsetY</key>
				<real>276.5</real>
			</dict>
			<key>612100l_partsD12c.png</key>
			<dict>
				<key>width</key>
				<integer>289</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1522</integer>
				<key>offsetX</key>
				<real>-98.5</real>
				<key>offsetY</key>
				<real>373.5</real>
			</dict>
			<key>612100l_partsD12d.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>-227</real>
				<key>offsetY</key>
				<real>291</real>
			</dict>
			<key>612100l_partsD12e.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>679</integer>
				<key>y</key>
				<integer>1018</integer>
				<key>offsetX</key>
				<real>-249</real>
				<key>offsetY</key>
				<real>156.5</real>
			</dict>
			<key>612100l_partsD12f.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>991</integer>
				<key>offsetX</key>
				<real>-176.5</real>
				<key>offsetY</key>
				<real>184</real>
			</dict>
			<key>612100l_partsD12g.png</key>
			<dict>
				<key>width</key>
				<integer>173</integer>
				<key>height</key>
				<integer>277</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>1206</integer>
				<key>offsetX</key>
				<real>-214.5</real>
				<key>offsetY</key>
				<real>67.5</real>
			</dict>
			<key>612100l_partsD12h.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1522</integer>
				<key>offsetX</key>
				<real>-128.5</real>
				<key>offsetY</key>
				<real>156.5</real>
			</dict>
			<key>612100l_partsD12i2.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>1421</integer>
				<key>offsetX</key>
				<real>-107</real>
				<key>offsetY</key>
				<real>-573</real>
			</dict>
			<key>612100l_partsD12i.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>937</integer>
				<key>offsetX</key>
				<real>-183.5</real>
				<key>offsetY</key>
				<real>-617</real>
			</dict>
			<key>612100l_partsD12j.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>272</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>970</integer>
				<key>y</key>
				<integer>920</integer>
				<key>offsetX</key>
				<real>-109</real>
				<key>offsetY</key>
				<real>-387</real>
			</dict>
			<key>612100l_partsD12k.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>313</integer>
				<key>originalWidth</key>
				<integer>650</integer>
				<key>originalHeight</key>
				<integer>1500</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>1112</integer>
				<key>offsetX</key>
				<real>-173.5</real>
				<key>offsetY</key>
				<real>-165.5</real>
			</dict>
			<key>612100l_partsD13a.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>951</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>-125.5</real>
			</dict>
			<key>612100l_partsD13b.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>285</integer>
				<key>offsetX</key>
				<real>-59</real>
				<key>offsetY</key>
				<real>-144</real>
			</dict>
			<key>612100l_partsD13c.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>-89</real>
				<key>offsetY</key>
				<real>-150</real>
			</dict>
			<key>612100l_partsD13d.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>1676</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>612100l_partsD13e.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>110</real>
				<key>offsetY</key>
				<real>-109.5</real>
			</dict>
			<key>612100l_partsD13f.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>937</integer>
				<key>offsetX</key>
				<real>98</real>
				<key>offsetY</key>
				<real>-127.5</real>
			</dict>
			<key>612100l_partsD13g.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>135</integer>
				<key>offsetX</key>
				<real>72.5</real>
				<key>offsetY</key>
				<real>-138.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_612100_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_612100_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>