<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>305900dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>305900dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305900dr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>305900dr_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>305900dr_partsDLegA04.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>124</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>305900dr_partsDLegA03.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>250</integer>
				<key>originalWidth</key>
				<integer>225</integer>
				<key>originalHeight</key>
				<integer>323</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305900dr_partsDLegA02.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>305900dr_partsDLegA01.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>167</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>305900dr_partsDLegB03.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>305900dr_partsDLegB02.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>305900dr_partsDLegB01.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>389</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_partsDLegB04.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>137</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>305900dr_partsDTactileL03.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>312</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>305900dr_partsDTactileL04.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>727</integer>
				<key>originalWidth</key>
				<integer>513</integer>
				<key>originalHeight</key>
				<integer>820</integer>
				<key>x</key>
				<integer>455</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>305900dr_partsDTactileL02.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>249</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>305900dr_partsDTactileL01.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>115</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>53</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305900dr_partsDTactileR03.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>655</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>737</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>305900dr_partsDTactileR04.png</key>
			<dict>
				<key>width</key>
				<integer>26</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>305900dr_partsDTactileR02.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>171</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>252</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>305900dr_partsDTactileR01.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>83</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>106</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>305900dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>305900dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>305900dr_parts02c.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>305900dr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>498</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>305900dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>145</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>375</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>305900dr_parts03_hair00L.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>615</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>305900dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>574</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-24.5</real>
			</dict>
			<key>305900dr_parts03_hair00R.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305900dr_parts00aAcs01.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>305900dr_parts04aAcs02.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>450</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>305900dr_parts04aAcs01.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>305900dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>355</integer>
				<key>y</key>
				<integer>360</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>305900dr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>305900dr_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305900dr_parts04cSkt.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>523</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-34</real>
			</dict>
			<key>305900dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>305900dr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>305900dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>871</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>305900dr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>116</integer>
				<key>originalHeight</key>
				<integer>138</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305900dr_partsDLegC03.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>355</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>394</integer>
				<key>x</key>
				<integer>329</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>305900dr_partsDLegC02.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>234</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>931</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>305900dr_partsDLegC01.png</key>
			<dict>
				<key>width</key>
				<integer>219</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>419</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>871</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>305900dr_parts04aBodyL.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>729</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>305900dr_parts04aBodyR.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>247</integer>
				<key>x</key>
				<integer>931</integer>
				<key>y</key>
				<integer>236</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>305900dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>729</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>305900dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>311</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305900dr_parts02d.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>144</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>305900dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>707</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>305900dr_parts00bMant01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>218</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>305900dr_parts00aAcs02.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>483</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>305900dr_parts03_hairTuinL0.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>305900dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>657</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>305900dr_parts03_hairTuinR0.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>931</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>305900dr_parts03_hairTuinL01.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>250</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>807</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>305900dr_parts03_hairTuinC00.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>272</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>305900dr_parts03_hairTuinR01.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>209</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>1087</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>305900dr_parts03_hairTuinCAcs01.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>56</integer>
				<key>y</key>
				<integer>950</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>305900dr_partsDWingLB03.png</key>
			<dict>
				<key>width</key>
				<integer>378</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>523</integer>
				<key>originalHeight</key>
				<integer>419</integer>
				<key>x</key>
				<integer>1148</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>305900dr_partsDWingLB02.png</key>
			<dict>
				<key>width</key>
				<integer>627</integer>
				<key>height</key>
				<integer>434</integer>
				<key>originalWidth</key>
				<integer>806</integer>
				<key>originalHeight</key>
				<integer>674</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>270</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>305900dr_partsDWingLB01.png</key>
			<dict>
				<key>width</key>
				<integer>253</integer>
				<key>height</key>
				<integer>558</integer>
				<key>originalWidth</key>
				<integer>663</integer>
				<key>originalHeight</key>
				<integer>641</integer>
				<key>x</key>
				<integer>1648</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>305900dr_partsDWingLA02.png</key>
			<dict>
				<key>width</key>
				<integer>821</integer>
				<key>height</key>
				<integer>257</integer>
				<key>originalWidth</key>
				<integer>979</integer>
				<key>originalHeight</key>
				<integer>603</integer>
				<key>x</key>
				<integer>969</integer>
				<key>y</key>
				<integer>706</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>305900dr_partsDWingLA01.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>640</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>305900dr_partsDWingRB03.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>538</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1022</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>305900dr_partsDWingRB02.png</key>
			<dict>
				<key>width</key>
				<integer>559</integer>
				<key>height</key>
				<integer>323</integer>
				<key>originalWidth</key>
				<integer>762</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1263</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>305900dr_partsDWingRB01.png</key>
			<dict>
				<key>width</key>
				<integer>386</integer>
				<key>height</key>
				<integer>186</integer>
				<key>originalWidth</key>
				<integer>762</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>305900dr_partsDWingRA02.png</key>
			<dict>
				<key>width</key>
				<integer>631</integer>
				<key>height</key>
				<integer>268</integer>
				<key>originalWidth</key>
				<integer>762</integer>
				<key>originalHeight</key>
				<integer>408</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1588</integer>
				<key>offsetX</key>
				<real>28.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>305900dr_partsDWingRA01.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>438</integer>
				<key>originalHeight</key>
				<integer>341</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>1020</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>305900dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>922</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1528</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1528</integer>
				<key>y</key>
				<integer>105</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>1208</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>883</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>305900dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1858</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt07.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>1321</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt08.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1903</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_txt09.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>1858</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>305900dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>700</integer>
				<key>height</key>
				<integer>525</integer>
				<key>originalWidth</key>
				<integer>700</integer>
				<key>originalHeight</key>
				<integer>525</integer>
				<key>x</key>
				<integer>670</integer>
				<key>y</key>
				<integer>1232</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_305900_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_305900_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>