<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>102000mr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>102000mr_parts_name.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>102000mr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102000mr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102000mr_parts_aru01a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>102000mr_parts_aru11a.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>58</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>102000mr_parts_aru21a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>102000mr_parts_aru06a.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-120.5</real>
			</dict>
			<key>102000mr_parts_aru16a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>220</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-121</real>
			</dict>
			<key>102000mr_parts_aru26a.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>170</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>-120.5</real>
			</dict>
			<key>102000mr_parts_aru06b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-120</real>
			</dict>
			<key>102000mr_parts_aru16b.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>48</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-119.5</real>
			</dict>
			<key>102000mr_parts_aru26b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>273</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>-120</real>
			</dict>
			<key>102000mr_parts_aru03a.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>105</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>60.5</real>
			</dict>
			<key>102000mr_parts_aru03b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>56.5</real>
			</dict>
			<key>102000mr_parts_aru03c.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>326</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>102000mr_parts_aru13a.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>148</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>61</real>
			</dict>
			<key>102000mr_parts_aru13b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>102000mr_parts_aru13c.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>102000mr_parts_aru04a.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>286</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>102000mr_parts_aru14a.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>371</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>102000mr_parts_aru24a.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>102000mr_parts_aru01b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>125</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>102000mr_parts_aru11b.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>180</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>102000mr_parts_aru21b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>102000mr_parts_aru04aa.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>586</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>102000mr_parts_aru14aa.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>319</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>102000mr_parts_aru24aa.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>811</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>102000mr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>102000mr_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>300</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>102000mr_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>381</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>102000mr_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-47</real>
			</dict>
			<key>102000mr_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-49.5</real>
			</dict>
			<key>102000mr_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>377</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>102000mr_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>451</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>102000mr_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-48.5</real>
			</dict>
			<key>102000mr_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>701</integer>
				<key>y</key>
				<integer>320</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>102000mr_parts03g.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>701</integer>
				<key>y</key>
				<integer>398</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-41</real>
			</dict>
			<key>102000mr_parts03h.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>102000mr_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>-57.5</real>
			</dict>
			<key>102000mr_parts03_hair2_item.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>175</integer>
				<key>y</key>
				<integer>245</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>88.5</real>
			</dict>
			<key>102000mr_parts13_hair2_item.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>293</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>79</real>
			</dict>
			<key>102000mr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>140</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>102000mr_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>402</integer>
				<key>offsetX</key>
				<real>-32.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>102000mr_parts03_hair3L.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>927</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>-31.5</real>
			</dict>
			<key>102000mr_parts13_hair3L.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>232</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>102000mr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>102000mr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>74</integer>
				<key>y</key>
				<integer>568</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>102000mr_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>102000mr_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>102000mr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>102000mr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>102000mr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>102000mr_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>472</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>102000mr_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>342</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>102000mr_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>102000mr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>599</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102000mr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>672</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102000mr_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>552</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102000mr_parts03_hair3Ra.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>183</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>777</integer>
				<key>offsetX</key>
				<real>-51</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>102000mr_parts13_hair3Ra.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>-46</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>102000mr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>117</integer>
				<key>y</key>
				<integer>683</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>102000mr_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>484</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-39.5</real>
			</dict>
			<key>102000mr_parts03_hair3Rb.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>102000mr_parts13_hair3Rb.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>636</integer>
				<key>offsetX</key>
				<real>-56.5</real>
				<key>offsetY</key>
				<real>-67</real>
			</dict>
			<key>102000mr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>34.5</real>
			</dict>
			<key>102000mr_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>652</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>102000mr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>961</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-32.5</real>
			</dict>
			<key>102000mr_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>435</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-30.5</real>
			</dict>
			<key>102000mr_parts13_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>608</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-80.5</real>
			</dict>
			<key>102000mr_parts04c_skirt1a.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>40</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>102000mr_parts14c_skirt1a.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>664</integer>
				<key>offsetX</key>
				<real>40.5</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>102000mr_parts04c_skirt4a.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>553</integer>
				<key>y</key>
				<integer>507</integer>
				<key>offsetX</key>
				<real>-52</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>102000mr_parts14c_skirt4a.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>102000mr_parts04c_skirt3a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>815</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>102000mr_parts14c_skirt3a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>481</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>102000mr_parts04c_skirt2a.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>102000mr_parts14c_skirt2a.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>779</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>102000mr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>529</integer>
				<key>y</key>
				<integer>601</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102000mr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>375</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>102000mr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102000mr_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>577</integer>
				<key>y</key>
				<integer>600</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>102000mr_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>758</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>102000mr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>901</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>102000mr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>703</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>102000mr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>879</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>102000mr_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>102000mr_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>102000mr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>-62</real>
			</dict>
			<key>102000mr_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>62</real>
				<key>offsetY</key>
				<real>-62</real>
			</dict>
			<key>102000mr_parts04c_skirt1b.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>841</integer>
				<key>y</key>
				<integer>404</integer>
				<key>offsetX</key>
				<real>45.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>102000mr_parts14c_skirt1b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>252</integer>
				<key>y</key>
				<integer>917</integer>
				<key>offsetX</key>
				<real>37.5</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>102000mr_parts04c_skirt2b.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>885</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>102000mr_parts14c_skirt2b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>753</integer>
				<key>y</key>
				<integer>481</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>102000mr_parts04c_skirt4b.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>27.5</real>
			</dict>
			<key>102000mr_parts04c_skirt3b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>510</integer>
				<key>y</key>
				<integer>723</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>102000mr_parts14c_skirt3b.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>885</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>102000mr_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>683</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>102000mr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>817</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>102000mr_parts04d.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>180</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>102000mr_parts14d.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>178</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>784</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>102000mr_parts04e.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>850</integer>
				<key>y</key>
				<integer>673</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>65.5</real>
			</dict>
			<key>102000mr_parts14e.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>175</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>938</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>65.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_102000_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_102000_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>