<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>220100mr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>220100mr_parts_name.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>220100mr_parts_BLACK_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>220100mr_parts_BLACK2_img.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>220100mr_parts_ui.png</key>
			<dict>
				<key>width</key>
				<integer>1009</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>1100</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>220100mr_parts00_armL.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>220100mr_parts00_body.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>220100mr_parts00_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-75</real>
			</dict>
			<key>220100mr_parts00_hair.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>220100mr_parts00_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>220100mr_parts00_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>275</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-80.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>220100mr_parts01_expression.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>220100mr_parts01_armL.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>42</real>
				<key>offsetY</key>
				<real>71.5</real>
			</dict>
			<key>220100mr_parts01_body.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>214</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>220100mr_parts01_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>438</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-82.5</real>
			</dict>
			<key>220100mr_parts01_hair.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>562</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>220100mr_parts01_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>423</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>220100mr_parts01_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-78</real>
				<key>offsetY</key>
				<real>24</real>
			</dict>
			<key>220100mr_parts_counter0.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>510</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>220100mr_parts_counter1.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>190</integer>
				<key>originalWidth</key>
				<integer>420</integer>
				<key>originalHeight</key>
				<integer>190</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>701</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>220100mr_parts02_armL.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>459</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>500</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>508</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>220100mr_parts03_body.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>210</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>220100mr_parts03_hair.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>220100mr_parts03_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-84</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>220100mr_parts03_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>66.5</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>220100mr_parts03_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-72</real>
			</dict>
			<key>220100mr_parts04_body.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>512</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>220100mr_parts04_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>124</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>724</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>-74.5</real>
			</dict>
			<key>220100mr_parts04_hair.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>826</integer>
				<key>offsetX</key>
				<real>-14</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>220100mr_parts04_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>161</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>65.5</real>
				<key>offsetY</key>
				<real>29</real>
			</dict>
			<key>220100mr_parts04_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>97</integer>
				<key>offsetX</key>
				<real>-85</real>
				<key>offsetY</key>
				<real>42.5</real>
			</dict>
			<key>220100mr_parts06a_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>367</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>220100mr_parts06b_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>367</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>301</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>220100mr_parts07a_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>220100mr_parts07b_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>351</integer>
				<key>height</key>
				<integer>293</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1549</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>220100mr_parts08a_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1292</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>220100mr_parts08b_pumpkin.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1276</integer>
				<key>y</key>
				<integer>594</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>220100mr_parts05_body.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1650</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>220100mr_parts05_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>-72.5</real>
			</dict>
			<key>220100mr_parts05_hair.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1841</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>220100mr_parts05_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1077</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>70</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>220100mr_parts05_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1901</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-75.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>220100mr_parts09_10_head.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1901</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>40</real>
			</dict>
			<key>220100mr_parts09_10_armR.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>220100mr_parts09_10_body.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1230</integer>
				<key>y</key>
				<integer>888</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>220100mr_parts09_armL.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>445</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>220100mr_parts10_armL.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1650</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>69.5</real>
				<key>offsetY</key>
				<real>65</real>
			</dict>
			<key>220100mr_parts09_10_legR.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>220100mr_parts09_10_legL.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>569</integer>
				<key>y</key>
				<integer>460</integer>
				<key>offsetX</key>
				<real>59</real>
				<key>offsetY</key>
				<real>-43.5</real>
			</dict>
			<key>220100mr_parts09_10_skt_ura.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1018</integer>
				<key>y</key>
				<integer>207</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-68</real>
			</dict>
			<key>220100mr_parts09_10_hair.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>503</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>220100mr_parts09_10_wingR.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1351</integer>
				<key>y</key>
				<integer>887</integer>
				<key>offsetX</key>
				<real>-53</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>220100mr_parts09_10_wingL.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>21.5</real>
			</dict>
			<key>220100mr_parts_WHITE_img.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_220100_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_220100_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>