<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>601300ml_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>601300ml_parts00.png</key>
			<dict>
				<key>width</key>
				<integer>247</integer>
				<key>height</key>
				<integer>335</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>601300ml_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-127.5</real>
				<key>offsetY</key>
				<real>-64.5</real>
			</dict>
			<key>601300ml_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>393</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>136.5</real>
				<key>offsetY</key>
				<real>-75.5</real>
			</dict>
			<key>601300ml_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-126.5</real>
			</dict>
			<key>601300ml_parts02.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>-8.5</real>
			</dict>
			<key>601300ml_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>453</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>78</real>
				<key>offsetY</key>
				<real>-134</real>
			</dict>
			<key>601300ml_parts76.png</key>
			<dict>
				<key>width</key>
				<integer>737</integer>
				<key>height</key>
				<integer>306</integer>
				<key>originalWidth</key>
				<integer>773</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>601300ml_parts77.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>552</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>96.5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>601300ml_parts78.png</key>
			<dict>
				<key>width</key>
				<integer>280</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>552</integer>
				<key>originalHeight</key>
				<integer>266</integer>
				<key>x</key>
				<integer>509</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>-133</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>601300ml_parts04.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>211.5</real>
				<key>offsetY</key>
				<real>-26</real>
			</dict>
			<key>601300ml_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>268</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>601300ml_parts05.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>565</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>54.5</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>601300ml_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>107</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>601300ml_parts06.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>340</integer>
				<key>offsetX</key>
				<real>-124</real>
				<key>offsetY</key>
				<real>173</real>
			</dict>
			<key>601300ml_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>-94</real>
				<key>offsetY</key>
				<real>112.5</real>
			</dict>
			<key>601300ml_parts07.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>-235.5</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>601300ml_parts07b.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>687</integer>
				<key>originalHeight</key>
				<integer>574</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>-213</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>601300ml_parts19a.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>832</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>40</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>601300ml_parts19b.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>320</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>739</integer>
				<key>y</key>
				<integer>428</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>601300ml_parts20a.png</key>
			<dict>
				<key>width</key>
				<integer>372</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>337</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>45</real>
			</dict>
			<key>601300ml_parts20b.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>237</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>337</integer>
				<key>x</key>
				<integer>980</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>601300ml_parts21.png</key>
			<dict>
				<key>width</key>
				<integer>337</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>396</integer>
				<key>originalHeight</key>
				<integer>280</integer>
				<key>x</key>
				<integer>980</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>601300ml_parts22.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>552</integer>
				<key>y</key>
				<integer>380</integer>
				<key>offsetX</key>
				<real>61.5</real>
				<key>offsetY</key>
				<real>-115</real>
			</dict>
			<key>601300ml_parts22b.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>1266</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>140</real>
				<key>offsetY</key>
				<real>-122</real>
			</dict>
			<key>601300ml_parts23.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>601300ml_parts24.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>-172</real>
				<key>offsetY</key>
				<real>115.5</real>
			</dict>
			<key>601300ml_parts25.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>399</integer>
				<key>originalHeight</key>
				<integer>481</integer>
				<key>x</key>
				<integer>974</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>-56</real>
				<key>offsetY</key>
				<real>-66</real>
			</dict>
			<key>601300ml_parts25a.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>399</integer>
				<key>originalHeight</key>
				<integer>481</integer>
				<key>x</key>
				<integer>658</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>41.5</real>
				<key>offsetY</key>
				<real>143</real>
			</dict>
			<key>601300ml_parts25b.png</key>
			<dict>
				<key>width</key>
				<integer>302</integer>
				<key>height</key>
				<integer>413</integer>
				<key>originalWidth</key>
				<integer>399</integer>
				<key>originalHeight</key>
				<integer>481</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>101</integer>
				<key>offsetX</key>
				<real>30.5</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>601300ml_parts50.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1266</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>601300ml_parts50b.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1213</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>36.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>601300ml_parts90.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>933</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>601300ml_parts91.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>27.5</real>
				<key>offsetY</key>
				<real>-38.5</real>
			</dict>
			<key>601300ml_parts92.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>685</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>601300ml_parts93.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>272</integer>
				<key>y</key>
				<integer>464</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-39</real>
			</dict>
			<key>601300ml_parts94.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>39</integer>
				<key>originalWidth</key>
				<integer>90</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>35</integer>
				<key>y</key>
				<integer>934</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>601300ml_parts_black.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_601300_m_l0.png</string>
			<key>realTextureFileName</key>
			<string>mini_601300_m_l0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>