<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>104500dr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104500dr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDRibonC01.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>104500dr_partsDRibonC04.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>104500dr_partsDRiboncl01.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104500dr_partsDRiboncr01.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>79</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>104500dr_partsDRibonL03.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>104500dr_partsDRibonL02.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>237</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-23</real>
			</dict>
			<key>104500dr_partsDRibonL01.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>104500dr_partsDnorenL01.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>338</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>104500dr_partsDHari01a.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>348</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>104500dr_partsDHari01b.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>443</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>634</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-55.5</real>
			</dict>
			<key>104500dr_partsDHari01c.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>242</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>104500dr_partsDRibonR03.png</key>
			<dict>
				<key>width</key>
				<integer>41</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>104500dr_partsDRibonR02.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104500dr_partsDRibonR01.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>104500dr_partsDnorenR01.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>333</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDLegL01d.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>104500dr_partsDLegL01c.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>661</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>496</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>104500dr_partsDLegL01b.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>336</integer>
				<key>originalHeight</key>
				<integer>241</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>104500dr_partsDLegL01a.png</key>
			<dict>
				<key>width</key>
				<integer>580</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>780</integer>
				<key>originalHeight</key>
				<integer>402</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>754</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>104500dr_partsDLegR01d.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>219</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>104500dr_partsDLegR01c.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>104500dr_partsDLegR01b.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>211</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104500dr_partsDLegR01a.png</key>
			<dict>
				<key>width</key>
				<integer>454</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>522</integer>
				<key>originalHeight</key>
				<integer>297</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>136</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>104500dr_partsDLegL02c.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>104500dr_partsDLegL02b.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>827</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>104500dr_partsDLegL02a.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>104500dr_partsDLegR02cc.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDLegR02b.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>1150</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>104500dr_partsDLegR02a.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>104500dr_partsDLegR03c.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>477</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDLegR03b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>104500dr_partsDLegR03a.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>449</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>63</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>104500dr_partsDLegL03c.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>104500dr_partsDLegL03b.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>104500dr_partsDLegL03a.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>386</integer>
				<key>originalHeight</key>
				<integer>284</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>248</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>104500dr_partsDhelmet01L.png</key>
			<dict>
				<key>width</key>
				<integer>177</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>383</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>865</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>104500dr_partsDTuno.png</key>
			<dict>
				<key>width</key>
				<integer>299</integer>
				<key>height</key>
				<integer>311</integer>
				<key>originalWidth</key>
				<integer>346</integer>
				<key>originalHeight</key>
				<integer>349</integer>
				<key>x</key>
				<integer>1217</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>104500dr_partsDhelmet01R.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>360</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>700</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>104500dr_partsDArmAcsL01.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>312</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>402</integer>
				<key>x</key>
				<integer>744</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDArmAcsR01.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>303</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>402</integer>
				<key>x</key>
				<integer>879</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>104500dr_partsDHagumaF01Lc.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>335</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>104500dr_partsDHagumaF01Lb.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>261</integer>
				<key>x</key>
				<integer>582</integer>
				<key>y</key>
				<integer>854</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>104500dr_partsDHagumaF01La.png</key>
			<dict>
				<key>width</key>
				<integer>225</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>495</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts03a2.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-40.5</real>
			</dict>
			<key>104500dr_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>667</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-40</real>
			</dict>
			<key>104500dr_parts03_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104500dr_parts03_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>412</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104500dr_parts03_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts03_ex3.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>274</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>104500dr_parts03_hair2.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1518</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts03_hair3.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1078</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts03_hair4.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104500dr_parts03_hair5.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>1132</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>981</integer>
				<key>y</key>
				<integer>616</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>104500dr_parts03_hair6.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1610</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts01_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>396</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>67</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>786</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>104500dr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>53</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>104500dr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>104500dr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1287</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-26.5</real>
			</dict>
			<key>104500dr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1636</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>104500dr_parts03_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>879</integer>
				<key>y</key>
				<integer>800</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>104500dr_parts03_hair7.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1518</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts03_hair8.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>70</integer>
				<key>originalHeight</key>
				<integer>130</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>809</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts03_hair9.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1078</integer>
				<key>y</key>
				<integer>230</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts03_hair10.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts04_ex4.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1172</integer>
				<key>y</key>
				<integer>195</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts04_ex3.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts04_ex2.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>1565</integer>
				<key>y</key>
				<integer>138</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts04_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts04_ex0.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>459</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1720</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104500dr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>616</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>104500dr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>104500dr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>943</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>104500dr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>43</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>656</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>104500dr_parts01_ex1.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>109</integer>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts03_hair11.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1431</integer>
				<key>y</key>
				<integer>313</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>116</real>
			</dict>
			<key>104500dr_parts03_hair11b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1597</integer>
				<key>y</key>
				<integer>153</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>69</real>
			</dict>
			<key>104500dr_parts03_hair11c.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>1769</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>104500dr_partsDHagumaL01.png</key>
			<dict>
				<key>width</key>
				<integer>326</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>370</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>1208</integer>
				<key>y</key>
				<integer>561</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_partsDHagumaR03.png</key>
			<dict>
				<key>width</key>
				<integer>233</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>296</integer>
				<key>originalHeight</key>
				<integer>209</integer>
				<key>x</key>
				<integer>1518</integer>
				<key>y</key>
				<integer>272</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>104500dr_partsDHagumaR02.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>298</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>746</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>104500dr_partsDHagumaR01.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>202</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>373</integer>
				<key>x</key>
				<integer>1845</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_partsDmouth00.png</key>
			<dict>
				<key>width</key>
				<integer>216</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>271</integer>
				<key>originalHeight</key>
				<integer>244</integer>
				<key>x</key>
				<integer>1431</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>104500dr_partsDstraw01L.png</key>
			<dict>
				<key>width</key>
				<integer>360</integer>
				<key>height</key>
				<integer>485</integer>
				<key>originalWidth</key>
				<integer>514</integer>
				<key>originalHeight</key>
				<integer>550</integer>
				<key>x</key>
				<integer>1649</integer>
				<key>y</key>
				<integer>432</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>104500dr_partsDstraw01R.png</key>
			<dict>
				<key>width</key>
				<integer>273</integer>
				<key>height</key>
				<integer>440</integer>
				<key>originalWidth</key>
				<integer>461</integer>
				<key>originalHeight</key>
				<integer>495</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1023</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>104500dr_partsDWingsL02.png</key>
			<dict>
				<key>width</key>
				<integer>569</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1465</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>104500dr_partsDWingsR02.png</key>
			<dict>
				<key>width</key>
				<integer>432</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>624</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>1023</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>104500dr_partsDWingsL01.png</key>
			<dict>
				<key>width</key>
				<integer>503</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1689</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104500dr_partsDWingsR01.png</key>
			<dict>
				<key>width</key>
				<integer>425</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>358</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>1218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>104500dr_partsDfire01g.png</key>
			<dict>
				<key>width</key>
				<integer>224</integer>
				<key>height</key>
				<integer>372</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>653</integer>
				<key>x</key>
				<integer>709</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>-20.5</real>
			</dict>
			<key>104500dr_partsDfire01F.png</key>
			<dict>
				<key>width</key>
				<integer>267</integer>
				<key>height</key>
				<integer>448</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>653</integer>
				<key>x</key>
				<integer>1044</integer>
				<key>y</key>
				<integer>910</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>104500dr_partsDfire01e.png</key>
			<dict>
				<key>width</key>
				<integer>279</integer>
				<key>height</key>
				<integer>496</integer>
				<key>originalWidth</key>
				<integer>565</integer>
				<key>originalHeight</key>
				<integer>653</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>1416</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>104500dr_partsDfire01d.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>726</integer>
				<key>originalHeight</key>
				<integer>451</integer>
				<key>x</key>
				<integer>1753</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>104500dr_partsDfire01c.png</key>
			<dict>
				<key>width</key>
				<integer>592</integer>
				<key>height</key>
				<integer>296</integer>
				<key>originalWidth</key>
				<integer>726</integer>
				<key>originalHeight</key>
				<integer>451</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>1398</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-41.5</real>
			</dict>
			<key>104500dr_partsDfire01b.png</key>
			<dict>
				<key>width</key>
				<integer>456</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>498</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>852</integer>
				<key>y</key>
				<integer>1696</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>104500dr_partsDfire01a.png</key>
			<dict>
				<key>width</key>
				<integer>381</integer>
				<key>height</key>
				<integer>191</integer>
				<key>originalWidth</key>
				<integer>415</integer>
				<key>originalHeight</key>
				<integer>270</integer>
				<key>x</key>
				<integer>1313</integer>
				<key>y</key>
				<integer>919</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>104500dr_parts_txt00.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1648</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts_txt01.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>935</integer>
				<key>y</key>
				<integer>977</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts_txt02.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts_txt03.png</key>
			<dict>
				<key>width</key>
				<integer>106</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1156</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts_txt04.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1264</integer>
				<key>y</key>
				<integer>756</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts_txt05.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1972</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>104500dr_parts_txt06.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>935</integer>
				<key>y</key>
				<integer>1101</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>104500dr_parts_bg1.png</key>
			<dict>
				<key>width</key>
				<integer>600</integer>
				<key>height</key>
				<integer>450</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>450</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>1112</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_104500_d_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_104500_d_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>