<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>113900mr_parts_b_img.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>113900mr_parts_bg2.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts_mask00.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts_name_113900.png</key>
			<dict>
				<key>width</key>
				<integer>711</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>738</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>113900mr_parts98b01.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>669</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>-211.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>113900mr_parts98b02.png</key>
			<dict>
				<key>width</key>
				<integer>10</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>-142</real>
			</dict>
			<key>113900mr_parts98b03.png</key>
			<dict>
				<key>width</key>
				<integer>471</integer>
				<key>height</key>
				<integer>566</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>168</integer>
				<key>offsetX</key>
				<real>218.5</real>
				<key>offsetY</key>
				<real>-85.5</real>
			</dict>
			<key>113900mr_parts98b04.png</key>
			<dict>
				<key>width</key>
				<integer>292</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>300</real>
				<key>offsetY</key>
				<real>232.5</real>
			</dict>
			<key>113900mr_parts98b05.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>152</real>
				<key>offsetY</key>
				<real>111.5</real>
			</dict>
			<key>113900mr_parts98b06.png</key>
			<dict>
				<key>width</key>
				<integer>672</integer>
				<key>height</key>
				<integer>399</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>169</real>
			</dict>
			<key>113900mr_parts04a_heart.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts98a.png</key>
			<dict>
				<key>width</key>
				<integer>908</integer>
				<key>height</key>
				<integer>737</integer>
				<key>originalWidth</key>
				<integer>964</integer>
				<key>originalHeight</key>
				<integer>909</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>994</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts03aa.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>113900mr_parts03bb.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>113900mr_parts03cc.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>113900mr_parts03dd.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts03ee.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>211</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>113900mr_parts03ff.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>187</integer>
				<key>y</key>
				<integer>30</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>113900mr_parts03gg.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>113900mr_parts13aa.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>17</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>113900mr_parts13bb.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-43.5</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>113900mr_parts13cc.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>13</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>315</integer>
				<key>y</key>
				<integer>17</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>-14.5</real>
			</dict>
			<key>113900mr_parts13dd.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>11</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>311</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>113900mr_parts13ee.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>113900mr_parts04a_gem.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>113900mr_parts14a_gem.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>443</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>113900mr_parts00a.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>113900mr_parts00b.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>764</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>113900mr_parts00c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>113900mr_parts00d.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>113900mr_parts02a.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>500</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>113900mr_parts02b.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>57</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts02e.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>113900mr_parts02f.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>762</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>113900mr_parts02i.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>567</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>113900mr_parts02j.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>606</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>113900mr_parts02k.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>864</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>113900mr_parts02l.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>113900mr_parts02aa.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>37</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>645</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>113900mr_parts02bb.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>678</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
			<key>113900mr_parts02ee.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>113900mr_parts02ff.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>898</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>113900mr_parts01a.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>829</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>113900mr_parts01b.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>85</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>113900mr_parts01c.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>33</integer>
				<key>y</key>
				<integer>897</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>113900mr_parts01d.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>113900mr_parts03_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>781</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>35.5</real>
			</dict>
			<key>113900mr_parts13_hair0.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>241</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1634</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>26.5</real>
			</dict>
			<key>113900mr_parts03_hair0_b.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1248</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>26</real>
			</dict>
			<key>113900mr_parts03_hair0_c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts03_hair0_d.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts13_hair0_b.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>113900mr_parts13_hair0_c.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>12</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts13_hair0_d.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>15</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts03a.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>113900mr_parts03b.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>18</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts03c.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>925</integer>
				<key>offsetX</key>
				<real>-16</real>
				<key>offsetY</key>
				<real>-51</real>
			</dict>
			<key>113900mr_parts03d.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts13a.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>61</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>226</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>-52.5</real>
			</dict>
			<key>113900mr_parts13b.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts13c.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>-60</real>
			</dict>
			<key>113900mr_parts03e.png</key>
			<dict>
				<key>width</key>
				<integer>1</integer>
				<key>height</key>
				<integer>1</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>27</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>164.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>113900mr_parts03f.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>-55</real>
			</dict>
			<key>113900mr_parts03g.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>902</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-44.5</real>
			</dict>
			<key>113900mr_parts13d.png</key>
			<dict>
				<key>width</key>
				<integer>61</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>-31.5</real>
				<key>offsetY</key>
				<real>-58.5</real>
			</dict>
			<key>113900mr_parts13e.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>901</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-64</real>
			</dict>
			<key>113900mr_parts13f.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>398</integer>
				<key>y</key>
				<integer>900</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>-54</real>
			</dict>
			<key>113900mr_parts03i.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>62</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1733</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>-46</real>
			</dict>
			<key>113900mr_parts03.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1797</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>113900mr_parts13.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1831</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>113900mr_parts13_hair1.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>330</integer>
				<key>originalHeight</key>
				<integer>330</integer>
				<key>x</key>
				<integer>1191</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-59.5</real>
			</dict>
			<key>113900mr_parts04a_belt01.png</key>
			<dict>
				<key>width</key>
				<integer>33</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>113900mr_parts14a_belt01.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1461</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts04a.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1248</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>113900mr_parts14a.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>881</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>113900mr_parts04b.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1634</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>113900mr_parts14b.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1510</integer>
				<key>y</key>
				<integer>401</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-37</real>
			</dict>
			<key>113900mr_parts04c_skirt.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>1733</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>113900mr_parts14c_skirt.png</key>
			<dict>
				<key>width</key>
				<integer>205</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1074</integer>
				<key>y</key>
				<integer>881</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>113900mr_parts05a.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>910</integer>
				<key>y</key>
				<integer>979</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>113900mr_parts05b.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1191</integer>
				<key>y</key>
				<integer>720</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>113900mr_parts05c.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1929</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>113900mr_parts15a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1337</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>113900mr_parts15b.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>1461</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>113900mr_parts06a.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>1847</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>113900mr_parts06b.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1831</integer>
				<key>y</key>
				<integer>144</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>113900mr_parts06c.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1978</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>113900mr_parts16a.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>1003</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>113900mr_parts16b.png</key>
			<dict>
				<key>width</key>
				<integer>39</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>1240</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>113900mr_parts04c.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts14c.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>65</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>1000</integer>
				<key>y</key>
				<integer>1003</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>113900mr_parts04a_belt02.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>1847</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>113900mr_parts14a_belt02.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>1387</integer>
				<key>y</key>
				<integer>625</integer>
				<key>offsetX</key>
				<real>-10</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>113900mr_parts99a_1.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>119</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>72.5</real>
			</dict>
			<key>113900mr_parts99a_2.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>876</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>73</real>
			</dict>
			<key>113900mr_parts99a_4.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>839</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>113900mr_parts99a_3.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>960</integer>
				<key>y</key>
				<integer>649</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>113900mr_parts99a.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>303</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1513</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>113900mr_parts14a_heart.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>247</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1281</integer>
				<key>y</key>
				<integer>749</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mini_113900_m_r0.png</string>
			<key>realTextureFileName</key>
			<string>mini_113900_m_r0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>