<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>evt_branch_anime_map29_kaimen.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>165</integer>
				<key>originalHeight</key>
				<integer>12</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_branch_anime_map29_flare_m_C.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>569</integer>
				<key>originalWidth</key>
				<integer>218</integer>
				<key>originalHeight</key>
				<integer>569</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>15</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_branch_anime_map29_flare_m_L.png</key>
			<dict>
				<key>width</key>
				<integer>580</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>580</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>evt_branch_anime_map29_flare_m_R.png</key>
			<dict>
				<key>width</key>
				<integer>447</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>447</integer>
				<key>originalHeight</key>
				<integer>61</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>81</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>evt_branch_anime_map29_flare_s_C.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>evt_branch_anime_map29_flare_s_L.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>221</integer>
				<key>y</key>
				<integer>204</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>evt_branch_anime_map29_flare_s_R.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>77</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>299</integer>
				<key>y</key>
				<integer>127</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>evt_branch_anime_map29_light.png</key>
			<dict>
				<key>width</key>
				<integer>940</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>941</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>587</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>evt_branch_anime_map29_bg.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>729</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>evt_branch_anime_map290.png</string>
			<key>realTextureFileName</key>
			<string>evt_branch_anime_map290.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>