<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>evt_majo_memoria_map_black.png</key>
			<dict>
				<key>width</key>
				<integer>246</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>246</integer>
				<key>originalHeight</key>
				<integer>246</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_moya2.png</key>
			<dict>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
				<key>originalWidth</key>
				<integer>1024</integer>
				<key>originalHeight</key>
				<integer>1024</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_moya1.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_memory_moya4.png</key>
			<dict>
				<key>width</key>
				<integer>508</integer>
				<key>height</key>
				<integer>354</integer>
				<key>originalWidth</key>
				<integer>508</integer>
				<key>originalHeight</key>
				<integer>354</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_memory_moya3.png</key>
			<dict>
				<key>width</key>
				<integer>570</integer>
				<key>height</key>
				<integer>494</integer>
				<key>originalWidth</key>
				<integer>570</integer>
				<key>originalHeight</key>
				<integer>494</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>358</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_memory_moya2.png</key>
			<dict>
				<key>width</key>
				<integer>506</integer>
				<key>height</key>
				<integer>493</integer>
				<key>originalWidth</key>
				<integer>506</integer>
				<key>originalHeight</key>
				<integer>493</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>1278</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_memory_moya1.png</key>
			<dict>
				<key>width</key>
				<integer>528</integer>
				<key>height</key>
				<integer>511</integer>
				<key>originalWidth</key>
				<integer>528</integer>
				<key>originalHeight</key>
				<integer>511</integer>
				<key>x</key>
				<integer>1028</integer>
				<key>y</key>
				<integer>856</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>evt_majo_memoria_map_bg.png</key>
			<dict>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
				<key>originalWidth</key>
				<integer>512</integer>
				<key>originalHeight</key>
				<integer>512</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1371</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>evt_majo_memoria_anime_map0.png</string>
			<key>realTextureFileName</key>
			<string>evt_majo_memoria_anime_map0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>